@charset "UTF-8";

.complexFilter {
  .tabFilterItem {
    width: 40px;
    margin: 0 20px;
    padding-bottom: 15px;
    white-space: nowrap;
    text-align: center;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    &:hover,
    &.active {
      color: #3080fe;
      border-bottom-color: #3080fe;
    }
  }

  .filterBelongingItem {
    margin-right: 20px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    &.active,
    &:hover {
      color: #000;
      font-weight: bold;
    }
  }
}
.tabFilterContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}
.filterBelonging {
  padding-bottom: 10px;
  border-bottom: 1px solid #F4F4F4
}
.filterBelongingLabel {
  margin-right: 19px;
  color: #333;
  font-size: 14px;
}
.filterForm {
  margin-top: 20px;
}
.combobox {
  width: 200px;
  margin-right: 25px;
}
.select {
  width: 50px;
  margin-right: 25px;
}
.col {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
