.coreDataTitle {
    color: #666;
    font-size: 12;
}

.coreDataWrapper {
    margin-top: 10;
    display: flex;
}

.coreData {
    margin-right: 50;
}

.coreDataCount {
    font-size: 30;
}

.coreDataDesc {
    display: flex;
    align-items: center;
}

.indicator {
    display: inline-block;
    margin-right: 5;
    height: 3px;
    width: 15px;
}