.coreDataTitle {
  color: #666;
  font-size: 12;
}

.coreDataWrapper {
  display: flex;
  margin-top: 10;
}

.coreData {
  margin-right: 50;
}

.coreDataCount {
  font-size: 30;
}

.coreDataDesc {
  display: flex;
  align-items: center;
}

.indicator {
  display: inline-block;
  width: 15px;
  height: 3px;
  margin-right: 5;
}
