.header {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 20px;
  font-weight: 700;
}

.noticeItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fafafa;
  line-height: 54px;
  height: 54px;
  text-decoration: none;
}

.title {
  color: #333;
}

.tag {
  font-size: 12px;
  line-height: 16px;
  margin-left: 5px;
  padding: 2px 8px;
  border-radius: 20px;
}

.top {
  background-color: #eff6ff;
  color: #5e83fb;
}

.hot {
  background-color: #ffe8e8;
  color: #ee706d;
}

.new {
  background-color: #fff4e2;
  color: #f7da47;
}
.time { color: #999; }

.divPadding {
  text-align: right;
  padding-top: 20px;
}
