.menuBtn {
  position: fixed;
  left: 0;
  top: 82px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 0 6px 6px 0;
  color: #fff;
  background: #2077ff;
  text-align: center;
  cursor: pointer;
  z-index: 9;
  text-decoration: none;
  &:hover {
    color: #e7e7e7;
  }
}

@media screen and (max-width: 1199px) {
  .iceDesignLayoutAside {
    position: fixed;
    left: -256px;
    top: 0px;
    bottom: 0;
    padding: 0 20px;
    background: #2e323e !important;
    z-index: 9999;
  }

  .openDrawer {
    transform: translateX(256px);
    :global {
      .logo {
        width: 200px;
        margin: 20px 0;
        text-align: center;
      }
    }
  }
}
