/* DeleteBalloon.jsx */
.contentText {
  padding: 5px 0 15px;
}

.button {
  margin-right: 5px !important;
}

/* EditDialog */
.editDialog {
  display: inline-block;
  margin-right: 5px;
}

.w {
  width: 640px !important;
}
