
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
    }
    .border {
      border-right: 1px solid #F0F0F0;
    }
    .title {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .value {
      font-size: 22px;
      color: #333;
    }
