.app {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
}

.link {
  color: #61dafb;
  margin: 0 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

