.headRow{
  margin-bottom: 10px;
}
.icon{
  color: #2c72ee !important;
  cursor: pointer !important;
}
.deleteIcon{
  margin-left: 20px;
}
.center{
  text-align: right !important;
}
.button{
  border-radius: 4px !important;
}
.pagination{
  margin-top: 20px !important;
  text-align: right !important;
}
.hb{
  color: #2c72ee !important;
  cursor: pointer !important;
  margin-left: 20px !important;
}
