.wrapper {
  position: relative;
  overflow: hidden;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
};
.inntroContent {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 466px;
};
.titleLine {
  width: 140px;
  height: 2px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 2px solid #5fb2f8;
};
.titleHighlightLine {
  background: #3080FE;
  height: 2px;
  width: 33px;
};
.title {
  font-size: 36px;
};
.desc {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 34px;
  text-align: center;
};
.extraButton {
  margin-top: 85px;
  border-color: #fff;
  background: transparent;
  color: #fff;
};
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ccc;
};
.grayOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.76);
  z-index: 1;
};
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //background-image: url("./images/TB18Na6iHSYBuNjSspiXXXNzpXa-3800-2026.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
};
.topClipTriange {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 150px;
  z-index: 1;
  clip-path: polygon(0 0, 0 100%, 100% 0);
};
.bottomClipTriange {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 150px;
  z-index: 1;
  clip-path: polygon(0 100%, 100% 0%, 100% 100%);
};
