/* write style here */
.ice-field {
  margin-bottom: 15px;
}
.ice-field-inline {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.ice-field-wrap {
  display: flex;
}

.label-mt5 {
  margin-bottom: 5px;
}
.label-text-align-left {
  text-align: left;
  padding-right: 10px;
}
.label-text-align-right {
  text-align: right;
  padding-right: 10px;
}

.ice-field-item-col1 {
  width: 8.33%;
}
.ice-field-item-col2 {
  width: 16.67%;
}
.ice-field-item-col3 {
  width: 24%;
}
.ice-field-item-col4 {
  width: 33.33%;
}
.ice-field-item-col5 {
  width: 41.67%;
}
.ice-field-item-col6 {
  width: 50%;
}
.ice-field-item-col7 {
  width: 58.33%;
}
.ice-field-item-col8 {
  width: 66.67%;
}
.ice-field-item-col9 {
  width: 75%;
}
.ice-field-item-col10 {
  width: 83.33%;
}
.ice-field-item-col11 {
  width: 91.67%;
}
.ice-field-item-col12 {
  width: 100%;
}

.ice-field-error {
  color: #f5222d;
  margin-top: 5px;
}
.ice-field-error-offset1 {
  margin-left: 8.33%;
}
.ice-field-error-offset2 {
  margin-left: 16.67%;
}
.ice-field-error-offset3 {
  margin-left: 24%;
}
.ice-field-error-offset4 {
  margin-left: 33.33%;
}
.ice-field-error-offset5 {
  margin-left: 41.67%;
}
.ice-field-error-offset6 {
  margin-left: 50%;
}
.ice-field-error-offset7 {
  margin-left: 58.33%;
}
.ice-field-error-offset8 {
  margin-left: 66.67%;
}
.ice-field-error-offset9 {
  margin-left: 75%;
}
.ice-field-error-offset10 {
  margin-left: 83.33%;
}
.ice-field-error-offset11 {
  margin-left: 91.67%;
}
.ice-field-error-offset12 {
  margin-left: 100%;
}