.footer {
  width: 100%;
  padding: 20px 40px;
  text-align: center;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    filter: grayscale(100%);
    opacity: 0.3;
  }

  .copyright {
    color: #999;
    line-height: 1.5;
    font-size: 12;
    text-align: 'right';
  }
}

