.subNavs {
  position: absolute;
  left: 0;
  width: 140px;
  background: #272b2f;
}

.navMenu {
  position: relative;

  .arrowUpIcon,
  .arrowDownIcon {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    transition: 0.3s ease;
  }

  .subNavs,
  .arrowUpIcon {
    display: none;
  }

  &:hover {
    background: #272b2f;

    .subNavs,
    .arrowUpIcon {
      display: block;
    }

    .arrowDownIcon {
      display: none;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logoLink {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.navs {
  display: flex;
}

.navLink {
  display: block;
  height: 60px;
  padding: 0 20px;
  color: #fff;
  font-size: 15px;
  line-height: 60px;
  text-decoration: none;
}

.navIconLink {
  padding: 0 30px;
}

.subNavMenu {
  height: 38px;
  line-height: 38px;
}

.subNavLink {
  display: block;
  padding-left: 12px;
  color: #fff;
  font-size: 14px;
}

.internationalImg {
  position: absolute;
  top: 22px;
  left: 10px;
  width: 16px;
  height: 16px;
}
