.wrapperContainer {
  background-color: #f6f6f6;
  background-image: url('./images/TB1P7ELpwmTBuNjy1XbXXaMrVXa-3798-1000.png');
  background-size: cover;
}

.wrapper {
  position: relative;
  max-width: 1190px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.feature {
  position: absolute;
  top: 0;
  right: 70%;
  z-index: 2;
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 30px;
  background-image: url('./images/TB1A5MNpuuSBuNjy1XcXXcYjFXa-66-66.png');
  background-repeat: no-repeat;
  background-position: 10px 120px;
}

.line {
  width: 140px;
  height: 2px;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.lineHeader {
  width: 33px;
  height: 2px;
  background-color: #fff;
}

.title {
  color: #fff;
  font-size: 36px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.desc {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.cover {
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 1;
}

.coverImage {
  display: block;
  max-height: 430px;
}
