.formRow {
  margin-bottom: 18px;
}

.formCol {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}

.label {
  padding-right: 10px;
  line-height: 28px;
}
