@charset "UTF-8";

.infinite-scroll-list {
  .list {
    width: 100%;
    margin-top: 15px;
    border: 1px solid #ddd;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 25px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  .letter {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 25px;
    color: white;
    font-size: 1.5em;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
  }
  .name {
    margin-bottom: 2px;
    font-weight: bold;
  }
  .index {
    color: #37474f;
  }
  .height {
    flex: 1;
    color: #bdbdbd;
    font-weight: 100;
    font-size: 0.75em;
    text-align: right;
  }

  .no-rows {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bdbdbd;
  }

  .is-scrolling-placeholder {
    color: #ddd;
    font-style: italic;
  }
}
