.container{
  position: fixed;
  top: 62px;
  left: 240px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  z-index: 99;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 4px;
}
.addIcon{
  margin-right: 5px;
}
