.stylesnotfoundContent{
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 500px;
}
.stylesimgNotfound{
  margin-right: 50px;
}
.stylestitle{
  color: #333;
  font-size: 24px;
  margin: 20px 0;
}
.stylesdescription{
  color: #666;
  font-size: 16px
}
