.formItems {
  padding: 20px;
}

.formItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.formLabel {
  margin-right: 20px;
}

.inputCol {
  width: 300px;
}

.btn {
  width: 100%;
}
