.logoStyle {
  display: flex;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: #fff !important;
  font-weight: bold;
  text-decoration: none;
}
