.label {
  text-align: right !important;
}

.formContent {
  width: 100%;
  position: relative;
}

.formItem {
  align-items: center !important;
  margin-bottom: 25px !important;
}

.formTitle {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: #333;
}

.inputItem {
  width: 100% !important;
}
