.title {
  margin: 0 0 20px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}
.btns {
  margin-bottom: 20px;
}
.deleteBtn {
  margin-right: 10px;
}
.pagination {
  padding-top: 26px;
  text-align: right;
}
