
    .batchBtn {
      margin-right: 10px;
    }
    .IceContainer {
      display: flex;
      justify-content: space-between;
      min-height:  auto;
      margin-bottom: 20px;
    }
    .removeBtn {
      margin-left: 10px;
    }
    .pagination {
      padding-top: 26px;
      text-align: right;
    }
