
    .batchBtn {
      margin-right: 10px;
    }
    .IceContainer {
      margin-bottom: 20px;
      min-height:  auto;
      display: flex;
      justify-content: space-between;
    }
    .removeBtn {
      margin-left: 10px;
    }
    .pagination {
      text-align: right;
      padding-top: 26px;
    }
