.header-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  min-width: 1200px;
  background: #fff;
  box-shadow: 0 1px 4px transparentize($color-brand1-6, 0.9);

  :global {
    .next-nav {
      border: 0;
      box-shadow: none;
    }

    .next-menu-item-text {
      color: $color-text1-3;
    }
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
  }

  .subNavText {
    padding-left: 1em;
  }

  .user-avatar {
    margin-right: 12px;
    border-radius: 4px;
  }

  .user-department {
    color: $color-text1-3;
    font-size: 12px;
  }

  .ice-design-header-userpannel {
    margin-left: 20px;
    cursor: pointer;

    .user-profile {
      display: inline-block;
      margin-bottom: 2px;
      color: $color-text1-3;
      text-align: center;
    }

    .icon-down {
      margin-left: 2px;
    }
  }
}

.user-profile-menu {
  width: 130px;
  padding: 0 16px;
  border-radius: 6px;

  .user-profile-menu-item {
    height: 40px;
    color: $color-text1-3;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;

    a:hover {
      color: $color-brand1-6;
    }

    i {
      margin-right: 5px;
    }
  }
}
