.headerContainer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  min-width: 1200px;
  background: #000;

  .headerContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 78px;
    margin: 0 auto;
  }

  :global {
    .next-nav {
      margin-right: 100px;
      background: transparent !important;
      border: none;
      box-shadow: none;

      .next-menu-item {
        color: #fff !important;
        font-weight: 600;
        background-color: transparent !important;

        .next-menu-item-inner {
          font-size: 14px !important;
        }

        &.next-selected {
          color: hsla(0, 0%, 100%, 0.7) !important;
        }

        &:hover,
        a:hover {
          color: hsla(0, 0%, 100%, 0.7);
        }
      }
      // .ice-menu-item-selected {
      //   color: hsla(0, 0%, 100%, 0.7);
      // }
    }
  }

  .ticketButton {
    position: absolute;
    right: 0;
    display: block;
    width: 82px;
    padding: 0 16px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #236cff;
      background: #fff;
    }
  }
}
