.container {
  margin: 0 auto;
  padding: 45px 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 28px;
}

.features {
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
}

.featureTag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 55px auto 20px auto;
  font-size: 20px;
}

.featureDate {
  font-size: 14px;
}

.featureTitle {
  font-weight: 100;
  font-size: 45px;
  text-align: center;
}
