.title {
  margin: 0 0 20px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.contentText {
  padding: 5px 0 15px !important;
}

.editDialog {
  display: inline-block;
  margin-right: 5px;
}

.w {
  width: 640px !important;
}
