.container {
  padding-bottom: 0;
};
.formItem {
  height: 28px;
  line-height: 28px;
  margin-bottom: 30px;
};
.formLabel {
  text-align: right;
};
.btns {
  margin: 25px 0;
}
.resetBtn {
  margin-left: 20px;
}
.selectWidth{
  width: 100% !important;
}
