.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  margin-bottom: 8px;
}

.link {
  font-size: 13px;
  margin-right: 40px;
  color: #fff !important;
}

.copyright {
  font-size: 13px;
  color: #fff;
  line-height: 1.5;
  text-align: right;
}

.marginRight {
  margin-right: 0;
}
