@media screen and (max-width: 720px) {
  .exceptionContent {
    min-height: 200px;
    .imgException {
      max-width: 100px;
    }
    .title {
      font-size: 14px;
      margin: 10px 0;
    }
    .description {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 721px) and (max-width: 1199px) {
  .exceptionContent {
    min-height: 300px;
    .imgException {
      max-width: 180px;
    }
    .title {
      font-size: 20px;
      margin: 10px 0;
    }
    .description {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .exceptionContent {
    min-height: 500px;
    .imgException {
      max-width: 260px;
    }
    .title {
      font-size: 24px;
      margin: 20px 0;
    }
    .description {
      font-size: 16px;
    }
  }
}
.exceptionContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  margin-left: 40px;
}
.title {
  color: #333;
}
.description {
  color: #666;
}
