.buttons {
  margin-top: 33px;
  text-align: center;
}

.body {
  position: absolute;
  top: 190px;
  left: 50%;
  width: 600px;
  max-height: 260px;
  margin-left: -300px;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

.wrapper {
  position: relative;
  height: 720px;
  overflow: hidden;
  background-color: $color-brand1-1;
  background-image: url('./images/TB1DgSmSpXXXXaJXpXXXXXXXXXX-2760-1480.jpg');
  background-size: cover;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 2px;
  text-align: center;
}

.primaryButton {
  height: 50px !important;
  padding: 0 58px !important;
  color: #fff !important;
  font-size: 16px !important;
  line-height: 50px !important;
}

.secondaryButton {
  height: 50px !important;
  margin-right: 20px !important;
  padding: 0 58px !important;
  color: $color-brand1-6 !important;
  font-size: 16px !important;
  line-height: 50px !important;
  background-color: transparent !important;
  border-color: $color-brand1-6 !important;
}
