.title {
  position: relative;
  padding-left: 20px;
  color: #666;
  font-weight: bold;
}

.dot {
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 12px;
  background: #666;
  border-radius: 100%;
}
