.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-image:
    url(https://img.alicdn.com/tfs/TB1sfq4x7voK1RjSZFNXXcxMVXa-1350-900.jpg);
  background-size: cover;
  // zIndex: 9;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #000;
  opacity: 0.5;
}

.row {
  z-index: 9;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}
