.container {
  height: 100%;
  background: url(./images/bg.png);
  background-size: contain;
}

.content {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 180px;
}

.contentLeft {
  width: 50%;
}

.contentRight {
  width: 50%;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.itemNum {
  width: 28px;
  height: 28px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  background: #d1ff00;
  border-radius: 50%;
}

.itemTitle {
  margin-left: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
}
