.tableHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin: 0 0 10px;
  line-height: 32px;
}

.tableTitle {
  height: 20px;
  padding-left: 12px;
  color: $color-text1-3;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border-left: 4px solid $color-brand1-6;
}

.newContractButton {
  margin-bottom: 20px;
}
