.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 12px;
}

.value {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.IceContainer {
  text-align: center;
}
