.container {
  padding: 70px 70px 140px;
  text-align: center;
  background: #fafafa;
}
.title {
  margin-bottom: 10px;
  color: #333;
  font-size: 48px;
  white-space: nowrap;
}
.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
div{
  font-size: 12px;
}
.icon{
  width: 160px;
  height: 160px;
}
.icon_title{
  margin-bottom: 6px;
  color: #333;
  font-size: 24px;
}
.content{
  width: 182px;
  margin-bottom: 30px;
  color: #6D7A82;
  font-size: 16px;
  line-height: 1.7rem;
}
.link{
  color: #00B0CF;
  font-size: 16px;
}
.linkOne{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-left: 10px;
  background: #00B0CF;
  border-radius: 13px;
}
.linkTwo{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: -4px;
  border-right:1px solid #fff ;
  border-bottom: 1px solid #fff;
  transform:rotate(-45deg);
}
