.container {
  height: 100%;
  background: #000;
}

.contentLeft {
  background: #000;
  height: 100%;
  position: relative;
  float: left;
  width: 50%;
}

.contentRight {
  background-image: linear-gradient(-180deg, #3b2da6, #000);
  height: 100%;
  position: relative;
  float: right;
  width: 50%;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  margin: 0 auto;
  padding-top: 180px;
  z-index: 10;
}

.imageWrap {
  float: left;
}

.image {
  height: 450px;
  margin: 0 auto;
  border-left: 8px solid #df4;
}

.introWrap {
  position: absolute;
  left: 58%;
  top: 45%;
  width: 520px;
  padding: 30px 20px 20px;
  background: #5a44ff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
}

.introNum {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.83px;
  padding-bottom: 10px;
  font-weight: 700;
}

.introTitle {
  font-size: 31px;
  color: #fff;
  letter-spacing: 1.5px;
  line-height: 42px;
  padding-bottom: 6px;
  font-weight: 700;
}

.introDesc {
  margin-top: 20px;
  font-size: 14px;
  color: #777f84;
  padding-top: 0;
  float: left;
}

.introLine {
  width: 30px;
  height: 2px;
  background: #fff;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.introText {
  text-align: justify;
  float: left;
  width: 90%;
  margin-top: -10px;
  color: #fff;
  letter-spacing: 0.35px;
}

.linkButton {
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: #000;
  text-align: center;
  float: left;
  margin-top: 25px;
}

.link {
  width: 140px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
