.container {
    margin-top: 78px;
    background: #ffff;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.bigTitle {
    padding-top: 30px;
    font-size: 60px;
    color: #333;
    letter-spacing: .77px;
}

.subTitle {
    font-size: 24px;
    color: #333;
    text-align: left;
    line-height: 30px;
    margin-top: 58px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

.partnerBox {
    margin-top: 60px;
}

.partnerItem {
    margin-bottom: 60px;
}

.partnerTitle {
    font-weight: 700;
    font-size: 20px;
    color: #333;
    letter-spacing: .25px;
    line-height: 24px;
    margin-bottom: 40px;
}

.logo {
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
}