.styleswrapper{
  height: 740px;
  background: url(./images/TB1.IQmRVXXXXbYXVXXXXXXXXXX-2760-1480.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.stylesbody{
  text-align: center
}
.stylestitle{
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 130px
}
.stylestext{
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing:2px;
}
.stylesextraBody{
  text-align: center;
  position: relative;
  margin-top: 80px
}
.stylesimage{
  display: block;
  margin: 0 auto;
  height:218px;
  width:706px;
}
.stylesextraText{
  width: 706px;
  margin: 0 auto;
  display: flex;
  color: #fff;
}
.stylesextraTextItemLeft{
  width: 215px;
  text-align: center
}
.stylesextraTextItemCenter{
  width: 275px;
  text-align: center
}
.stylesextraTextItemRight{
  width: 215px;
  text-align: center
}
