.customTable {
  width: 100%;
  color: #999;
  font-size: 13px;
  .thead {
    color: #fff;
    font-weight: bold;
  }
  .customTh {
    color: $color-data1-1;
  }
  tr {
    &:nth-child(2n) {
      background: #253042;
    }
    td {
      padding: 10px 20px;
    }
  }  
}
