
    .container {
      padding: 80px 40px;
    }
    .btn {
      margin-right: 6px;
    }
    .successDetail {
      text-align: center;
    }
    .successDetailHead {
      position: relative;
    }
    .img{
      Width: 40px;
      height: 40px;
    }
    .title {
      margin: 0;
    }
    .summary{
      margin-bottom: 40px;
      font-size: 14px;
      color: #666;
    }
    .nextStep{
      margin: 80px 0;
    }
  
  