.industryBannerContainer {
  position: relative;
  min-width: 1280px;
  height: 240px;
};
.industryBannerImg {
  width: 100%;
  height: 150px;
};
.industryNotice {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 1120px;
  margin-left: -590px;
  padding: 18px 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.05);
};
.industryTitle {
  margin: 0 0 10px;
};
.industryNoticeList {
  display: flex;
  flex-direction: row;
};
.hotTag {
  display: inline-block;
  width: 36px;
  height: 18px;
  margin-left: 10px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  background: #ff5c5c;
  border-radius: 9px;
};
.hotNews {
  display: block;
  width: 280px;
};
.hotNewsLink {
  color: #666;
};
