.stylesinviteInfo{
  display: flex;
  align-items: center
}
.stylessentInfo{
  display: flex;
  align-items: center
}
.stylesavatarWrapper{
  margin-right: 10px;
}
.stylesavatar{
  border-radius: 40px;
  display: block;
}
