@charset "UTF-8";

.simple-fluency-form {
  .next-input,
  .next-select {
    width: 100%;
  }
}

.formContent {
  position: relative !important;
  width: 100% !important;
}

.formItem {
  margin-bottom: 25px !important;
}

.formLabel {
  height: 32px !important;
  line-height: 32px !important;
  text-align: right !important;
}

.formTitle {
  margin: 0 0 20px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #eee !important;
}
