.nav-menu {
  .arrow-up-icon,
  .arrow-down-icon {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    transition: 0.3s ease;
  }

  .sub-navs,
  .arrow-up-icon {
    display: none;
  }

  &:hover {
    background: #272b2f;

    .sub-navs,
    .arrow-up-icon {
      display: block;
    }

    .arrow-down-icon {
      display: none;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  .logoLink {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }
}
