.asideCustomMenu {
  width: 240px;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: #fff;
}

.iceMenuItemText {
  padding-left: 1em;
}

.userAvatar {
  margin-right: 12px;
  border-radius: 4px;
}

.userDepartment {
  font-size: 12px;
}
