

    .container {
      margin: 0 20px;
      letter-spacing: 2px;
    }
    .button {
      margin: 0 8px;
      letter-spacing: 2px;
    }
    .table {
      margin: 20px 0;
    }
    .pagination {
      text-align: center;
      margin-bottom: 20px;
    }
