
    .widgetItem {
      margin: 12px 0;
    }
    .widgetLink {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #666;
      margin-left: 20px;
    }
    .widgetImg {
      width: 30px;
      height: 30px;
    }
    .widgetName {
      margin-left: 10px;
    }
  