.cardTitle{
  margin: 0 0 20px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}
.totalCard{
  max-width: 160px;
  padding: 10px;
  color: #fff;
  background: rgba(240,130,76,.8);
  border-radius: 4px;
}
.todayCard{
  display: flex;
  align-items: center;
}
.label{
  height: 14px;
  margin-bottom: 8px;
  line-height: 14px;
}
.value{
  height: 28px;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
}
.todayCardIcon{
  width: 36px;
  height: 36px;
  margin-right: 8px;
}
