.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}

.container :global {
  .ant-pro-form-login-container {
    padding-top: 140px;
  }
}