.container{
  min-height: 1000px;
  padding: 50px 0;
  background: #000;
};
.summary{
  width: 1200px;
  margin: 0 auto;
};
.mainTitle{
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.77px;
};
.mainDesc{
  margin-top: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
};
.items{
  margin-top: 70px;
  overflow: hidden;
};
.item{
  position: relative;
  float: left;
  height: 360px;
  background-repeat: no-repeat;
  background-position: 50%;
};
.itemFull{
  width: 100%;
  background-image: url('./images/TB1Ylpwn5OYBuNjSsD4XXbSkFXa-2884-720.png');
  background-size: cover;
};
.itemLeft{
  width: 46%;
  background-image: url('./images/TB1SQ5cwXOWBuNjy0FiXXXFxVXa-1340-720.png');
  background-size: cover;
};
.itemRight{
  width: 54%;
  background-image: url('./images/TB15sxxwgmTBuNjy1XbXXaMrVXa-1556-720.png');
  background-size: cover;
};
.hb1{
  position: relative;
  float: left;
  width: 100%;
  height: 360px;
  background-image: url('./images/TB1Ylpwn5OYBuNjSsD4XXbSkFXa-2884-720.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.hb2{
  position: absolute;
  bottom: 0;
  left: 46%;
  width: 100%;
  max-width: 54%;
  height: 158px;
  padding: 28px 90px;
  padding-right: 39.5%;
  background: rgba(0,0,0,.7);
  transition: all .3s;
}
.hb3{
  position: relative;
  float: left;
  width: 46%;
  height: 360px;
  background-image: url('./images/TB1SQ5cwXOWBuNjy0FiXXXFxVXa-1340-720.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.hb4{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 158px;
  padding: 28px 90px;
  padding-left: 39.5%;
  background: rgba(0,0,0,.7);
  transition: all .3s;
}
.hb5{
  position: relative;
  float: left;
  width: 54%;
  height: 360px;
  background-image: url('./images/TB15sxxwgmTBuNjy1XbXXaMrVXa-1556-720.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.hb6{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 158px;
  padding: 28px 90px;
  padding-right: 39.5%;
  background: rgba(0,0,0,.7);
  transition: all .3s;
}
.itemBox{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 158px;
  padding: 28px 90px;
  background: rgba(0,0,0,.7);
  transition: all .3s;
};
.itemFullBox{
  left: 46%;
  max-width: 54%;
  padding-right: 39.5%;
};
.itemLeftBox{
  right: 0;
  padding-left: 39.5%;
};
.itemRightBox{
  left: 0;
  padding-right: 39.5%;
};
.subtit{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
};
.desc{
  display: -webkit-box;
  height: 66px;
  margin-top: 6px;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
};