.footer{
  width: 100%;
  margin: 20px 0;
  text-align: center;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerb{
  color: #999;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
}
.div{
   filter: grayscale(100%);
   opacity: 0.3 ;
}
