.container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.IconBox {
  display: flex;
  align-items: center;
  width: 56px;
  height: 56px;
  color: #fff;
  text-align: center;
  border-radius: 100%;
}

.itemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemLabel {
  margin: 3px 0 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.itemValue {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
}

.symbol1 {
  composes: itemBox IconBox;
  // composes: IconBox;
  background: $color-notice-3;
}

.symbol2 {
  composes: itemBox IconBox;
  // composes: IconBox;
  background: $color-success-3;
}
