.card {
  display: flex;
  align-items: center;
  float: left;
  box-sizing: border-box;
  width: 25%;
  margin: 16px 0;
  padding: 0 8px;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 16px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.image {
  width: 56px;
  height: 56px;
  color: white;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  background-color: #2091fb;
  border-radius: 28px;
}

.content {
  flex-grow: 1;
  margin-left: 10px;
}

.name {
  margin: 3px 0 0 0;
  overflow: hidden;
  color: #2a2a2a;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.desc {
  margin: 3px 0 0 0;
  overflow: hidden;
  color: #999;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.settingIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.tag {
  position: absolute;
  height: 16px;
  padding: 0 4px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
