.title{
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
  position: relative;
}
.datetime{
  position: absolute;;
  right: 10px;
  font-size: 12px;
  color: #9b9b9b;
}
.desc{
  color: #999;
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 15px;
}
.operator{
  padding-top: 8px;
  font-size: 12px;
  color: #9b9b9b;
}
.operatorItem{
  margin-right: 5px;
}
.paginationWrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}
.button{
  margin-right: 10px;
}
.wrapperStyle{
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 15px;
}
.informationStyle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.tabList{
  display: flex;
  flex-direction: row;
}
.icon{
  width: 10px;
  height: 12px;
}
.tabactive{
  cursor: pointer;
  margin-right: 20px;
  color: #3080FE
}
.tab{
  cursor: pointer;
  margin-right: 20px;
}
