.notfoundContent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.imgNotfound {
  margin-right: 50px;
}

.title {
  margin: 20px 0;
  color: #333;
  font-size: 24px;
}

.description {
  color: #666;
  font-size: 16px;
}
