.modelList {
  height: 500px;
  padding: 0;
  overflow-y: scroll;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.name {
  color: #666;
  font-size: 12px;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  color: #fff;
  font-size: 12px;
  background: #58ca9a;
  border-radius: 4px;
}
