.navItem{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.imgWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
}
.img{
  width: 30px;
}
.infoWrap{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.count{
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
.title{
  margin: 2px 0;
}
