.filterCard {
  position: relative !important;
  padding: 10px !important;
};
.tagList {
  margin-top: 10px;
};
.tag {
  margin: 8px;
};
.extraFilter {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
};
.search {
  width: 150px;
  margin-left: 12px;
};
