
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .content {
      width: 400px;
      color: #fff;
    }
    .title {
      margin-bottom: 20px;
      font-weight: 700;
      font-weight: 48px;
      line-height: 1.5;
    }
    .description {
      margin: 0;
      font-size: 16px;
      color: #fff;
      letter-spacing: 0.45px;
      line-height: 40px;
    }
 