.info{
  text-align: center;
  color: #fff;
}
.title{
  font-size: 32px;
}
.time{
  font-size: 18px;
  margin: 15px 0 25px;
}
.timeIcon{
  margin-right: 8px
}
.subTitle{
  width: 200px;
  line-height: 24px;
  margin: 0 auto;
  color: #F8BC38;
  background-color: #1A484E;
  font-size: 14px
}
.sum{
  margin: 15px 0 0;
  line-height: 30px;
  font-size: 38px;
  color: rgb(255, 246, 0);
  font-weight: bold;
}
.box{
  background: #000 !important;
}
.boxhe{
  height: 500px !important;
}
