
.container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logoText {
  display: block;
  max-width: 180px;
  margin-left: 10px;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  white-space: nowrap;
  text-align: ellipsis;
  text-decoration: none;

  &:hover,
  &:visited,
  &:link {
    color: #fff;
  }

  &:hover {
    opacity: 0.8;
  }
}
