.container{
  margin: 10px 0;
}
.tableHead{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.label{
  margin-right: 10px;
}
.check{
  margin-left: 10px
}
.pagination{
  margin-top: 20px;
  text-align: center;
}
.link{
  margin: 0 5px;
  color: rgba(49, 128, 253, 0.65);
  text-decoration: none;
  cursor: pointer;
}
.one{
  padding:4px 8px;
  color: #fff;
  font-size: 12px;
  background: #00a854;
}
.two{
  padding:4px 8px;
  color: #fff;
  font-size: 12px;
  background: #f04134;
}
.three{
  padding:4px 8px;
  color: #fff;
  font-size: 12px;
  background: #ffbf00;
}
.container1{
  margin: 20px !important;
  padding: 10px 0 !important;
}
.datapic{
  margin-right: 20px;
}
.separator{
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  vertical-align: middle;
  background: #e8e8e8;
}
.input{
  width: 220px
}
.pagination1{
  margin-top: 20px;
  text-align: right;
}
