.cardTitle {
  margin: 0 0 20px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}
.miniCard {
  position: relative;
  padding: 10px;
  color: #666;
  border: 1px solid #eee;
  border-radius: 4px;
}
.label {
  height: 14px;
  margin-bottom: 8px;
  overflow: hidden;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.time {
  padding: 0 4px;
  color: #0abc3c;
  font-weight: 600;
}
.arrowIcon {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
}
.colBackground{
  background: red;
}
.rowOverFlow{
  overflow: scroll;
}
