.title {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 18px;
}

.table {
  margin-top: 10px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.detailButton {
  margin-right: 8px;
  background: #41cac0;
}

.container {
  margin: 20px;
  padding: 0;
}

.formRow {
  padding: 10px 20px !important;
}

.formItem {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.formLabel {
  min-width: 70px;
}

.tableCustom {
  min-height: 500px !important;
  margin-top: 10px !important;
}

.pagination {
  margin: 20px 0 !important;
  text-align: right !important;
}

.marginRight {
  margin-right: 5px !important;
}

.selectMin {
  width: 200px;
}
