@charset "UTF-8";

.content {
  align-items: center;
  padding: 16px 0;
}

.logo {
  width: 86px;
}

.pullCenter {
  text-align: center;
}

.pullRight {
  text-align: right;
}

.navLink {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.socialImg {
  width: 22px;
  height: 16px;
}

.line {
  margin: 16px 0;
  border-bottom: 1px solid rgba(120, 130, 140, .13);
}

.copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
}
