
    .footer {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 20px;
    }
    .links{
      margin-bottom: 8px;
    };
    .link {
        margin-right: 0px;
      font-size: 13px;
      margin-right: 40px;
      color: #fff;
    }
    .copyright {
      font-size: 13px;
      color: #fff;
      line-height: 1.5;
      text-align: right;
    }
