.container {
    padding: 0;
    min-height: 800px;
}

.item {
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    display: block;
}

.title {
    margin-left: 16px;
    margin-right: 24px;
    color: #314659;
    font-size: 14px;
}

.icon {
    color: #697b8c;
}

.description {
    color: #697b8c;
    font-size: 14px;
}

.time {
    position: absolute;
    right: 20px;
    color: #314659;
}