.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}

.infoRow {
  padding: 16px 0;
  display: flex;
  border-bottom: 1px solid #f6f6f6;
}

.infoLabel {
  flex: 0 0 100px;
  color: #999;
}

.fromItem {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}

.img {
  width: 120px;
}

.input {
  width: 500px;
}

.marginLeft {
  margin-left: 10px !important;
}
