.waterfall-panel {
  position: relative;
  margin: auto;
  margin-top: 5px;
  padding-bottom: 60px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  .album {
    display: block;
    overflow: hidden;
    text-decoration: none;
  }
  .album img {
    border: none;
  }
  .album .a-cont,
  .album .a-cover {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in;
  }
  .album .a-cover {
    opacity: 1;
  }
  .album .a-cont {
    opacity: 0;
  }
  .album:hover {
    text-decoration: none;
  }
  .album:hover .a-cover {
    opacity: 0;
  }
  .album:hover .a-cont {
    opacity: 1;
  }
  .album .a-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .album .a-mask i {
    position: absolute;
    top: 40%;
    left: 50%;
    display: block;
    opacity: 0;
  }
  .album:hover .a-mask i {
    opacity: 1;
    transition: opacity 0.2s ease-in 0.3s;
  }
  .album .a-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-image: -webkit-linear-gradient(
      top,
      hsla(30, 29%, 92%, 0.8),
      #f0eae4 17%
    );
    transition: all 0.3s ease-in;
  }
  .album .a-layer .al-brand,
  .album .a-layer .al-title {
    transition: all 0.5s ease-in 0.1s;
  }
  .album .a-layer .al-brand {
    display: block;
    margin: 0;
    color: #6d5c53;
    line-height: 22px;
    text-decoration: none;
  }
  .album .a-layer .al-title {
    display: inline-block;
    _width: 95%;
    min-width: 80%;
    height: 26px;
    overflow: hidden;
    color: #6d5c53;
    font-size: 16px;
    line-height: 26px;
    white-space: nowrap;
    text-decoration: none;
    border-top: 1px dotted #a8a39f;
  }
  .album .a-layer .al-count {
    display: block;
    color: #beb5ae;
    text-decoration: none;
  }
  .w1,
  .w2 {
    position: absolute;
    -ms-transform: none;
    transform: translate(-450px, 999999px);
  }
  .w1 {
    width: 190px;
    height: 240px;
  }
  .w1 img {
    width: 190px;
  }
  .w1:hover .a-mask i {
    width: 78px;
    height: 78px;
    margin-top: -40px;
    margin-left: -40px;
    background-position: -292px -60px;
    transform: scale(0.5);
    zoom: 0.5;
  }
  .w2 {
    width: 390px;
    height: 490px;
  }
  .w2 img {
    width: 390px;
  }
  .w2 .a-layer .al-title {
    min-width: 60%;
  }
  .w2:hover .a-mask {
    background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 53%,
      rgba(0, 0, 0, 0.65) 74%,
      rgba(0, 0, 0, 1) 81%
    );
  }
  .w2:hover .a-mask i {
    width: 170px;
    height: 170px;
    margin-top: -86px;
    margin-left: -86px;
    background-position: -371px -56px;
    transform: scale(0.5);
    zoom: 0.5;
  }
}
