// Global RESET
.ice-layout {
  &.basic-layout {
    background: #f7f7f7;
    min-width: 1280px;
    .next-btn {
      border-radius: 4px;
    }
  }
}

.mainContent {
  margin-top: 82px;
  padding: 0 20px;
}
