.formContent {
    margin-left: 30px;
}

.formItem {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.formLabel {
    width: 70px;
    margin-right: 15px;
    text-align: right;
}

.formError {
    margin-left: 10px;
}

.tips {
    color: #ee706d;
    font-size: 12px;
    margin: 20px 0;
}

.submitButton {
    margin-left: 85px;
}