.container {
  padding: 50px 0;
  background: #000;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.mainTitle {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.77px;
}

.mainDesc {
  margin-top: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.img {
  max-width: 100%;
  margin-top: 70px;
}
