.wrapper {
  height: 740px;
  background-color: #fff;
  overflow: hidden;
};
.body {
  text-align: center;
};
.title {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 50px;
};
.text {
  font-size: 14px;
  color: #666;
  line-height: 24px;
  letter-spacing: 2px;
};
.image {
  margin: 20px auto 0 auto;
  display: block;
};
