.product{
  display: flex;
  align-items: center;
}
.productPic{
    width: 60px;
    height: 60px;
}
.table{
  width: 100%;
  height: 341px;
}
.tablecolum1{
  width: 40%;
}
.tablecolum2{
  width: 20%;
}
