.appName {
  margin-left: 10px;
  color: #fff;
}

.avatar {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-radius: 50%;
}

.userName {
  margin-left: 10px;
  color: #fff;
}

.appMain {
  min-height: 1200px;
}
