.container {
    padding: 0;
}

.title {
    border-bottom: 0;
}

.profile {
    display: flex;
    align-items: center;
}

.avatar {
    width: 24px;
    height: 24px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 50px;
}

.name {
    margin-left: 15px;
    color: #314659;
    font-size: 14px;
}

.link {
    color: #1890ff;
    cursor: pointer;
}

.edit {
    margin-right: 5px;
    color: #1890ff;
    cursor: pointer;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #f0f0f0;
}

.title1 {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
}