@charset "UTF-8";

.filterList {
  .selectItem {
    &.active, &:hover {
      color: #3080fe !important;
    }
    &:first-child {
      padding-left: 0 !important;
    }
    &:last-child {
      padding-right: 0 !important;
      border-right-width: 0 !important;
    }
  }
}

.selectItem{
  padding: 0 16px;
  border-right: 1px solid #ddd;
  cursor: pointer;
};
.selectBtn{
  margin-right: 10px;
  margin-bottom: 10px;
};
.itemRow{
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
};
.filterListHeaderWrapper{
  padding: 20px 20px 5px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
};
.searchWrapper{
  display: flex;
  flex-direction: row;
  margin: 0 0 15px 0;
};
.searchInput{
  margin-right: 15px;
};
.filterCategories{
  display: flex;
  flex-direction: row;
  margin: 0 0 15px 0;
};
.searchResultWrapper{
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 0;
};
.filterCategory{
  width: 100%;
};
.hb1{
  padding: 20px 20px 5px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  margin: 20px;
}
.hb2{
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 0;
  display: flex;
  margin: 20px;
}

// SingleItem style
.singleItem {
  &:hover {
    background-color: #f4f4f4 !important;
  }
}
.sty1{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999;
  font-size: 12px;
  line-height: 18px;
  margin: 0 14px;
}
.sty2{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999;
  line-height: 18px;
  font-size: 12px;
  margin: 0 14px;
}
.sty3{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 18px;
  color: #C0C0C0;
  font-size: 12px;
  margin: 0 14px;
}
.sty4{
  display: flex;
  justify-content: center;
}
