.stylesnavItem{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
.stylesimg{
  width: 48px;
  height: 48px;
}
.stylestitle{
  margin: 10px 0;
  color: #666;
  font-weight: 500;
}
