@charset "UTF-8";

.editableTable {
  :global .celleditor {
    &:hover .celleditor-trigger {
      display: inline-block;
    }
  }
  :global .celleditor-trigger {
    display: none;
  }
}

.addNewItem {
  background: #F5F5F5;
  height: 32;
  line-height: 32px;
  margin-top: 20;
  cursor: pointer;
  text-align: center;
}

.cellInput {
  width: calc(100% - 44px);
}
.operationIcon {
  margin-left: 10px;
  color: #999;
  cursor: pointer;
  display: none;
}