.formContent{
   width: 100%;
   position: relative;
}
.formItem{
  margin-bottom: 25px;
}
.formTitle{
  margin: 0 020px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.formLabel{
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.rowtop{
  margin-top: 20px;
}
.kd{
  width: 100%
}
