.filterTableOperation {
  line-height: 28px;
}

.operationItem {
  margin-right: 12px;
  color: $color-brand1-6;
  text-decoration: none;

  &:link,
  &:visited {
    color: $color-brand1-6;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 10px;
  color: $color-brand1-6;
  line-height: 20px;
}

.paginationWrapper {
  padding-top: 26px;
  text-align: right;
}
