.logo{
  display: flex !important;
  align-items: center !important;
};
.brand{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
};
.workbench{
  color: #fff;
  font-size: 12px;
  margin-left: 15px;
};