.logo {
  display: flex !important;
  align-items: center !important;
}

.brand {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.workbench {
  margin-left: 15px;
  color: #fff;
  font-size: 12px;
}
