.title {
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: bold;
    color: #333;
}

.subtitle {
    font-size: 12px;
    margin-bottom: 20px;
}

.groupTitle {
    margin-bottom: 10px;
}

.input {
    max-width: 332px;
    width: 70%;
    min-width: 150px;
}

.inputWrap {
    margin-bottom: 20px
}