.stylescontainer{
  height: 255px;
}
.stylesoverviewData{
  margin-top: 25px;
  font-size: 30px;
}
.stylesoverviewDataUnit{
  font-size: 18px;
}
.stylesoverviewDataDetail{
  margin-top: 10px;
  display: flex;
  justify-content: space-between
}
.stylesoverviewDataDetailCount{
  font-size: 18px
}
.stylesoverviewDataDetailDesc{
  font-size: 12px;
  margin-top: 5px;
  color: #666;
}
.stylesoverviewDataExtraLinks{
  margin-top: 20px;
  padding-top: 20px;
  border-top:1px solid #eee;
}
.stylesoverviewDataExtraLinksTitle{
  font-size: 12px;
  color: #666;
}
.stylesoverviewDataExtraLinksWrapper{
  margin-top: 10px;
}
.stylesoverviewDataExtraLink{
  margin-right: 5px;
}
.stylesoverviewRatingWrapper{
  display: flex;
  align-items: center;
}
.stylesoverviewRatingCount{
  font-size: 32px;
  margin-right: 10px
}
.stylesoverviewDetail{
  margin-top: 20px;
}
.stylesoverviewDetailItem{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.stylesoverviewDetailItemPercentWrapper{
  flex:1
}
.stylesoverviewDetailItemPercent{
  display: inline-block
}
.stylesoverviewDetailItemText{
  margin-right: 10px;
}
