.stylesitems{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stylesitem{
  display: flex;
  flex-direction: row;
  margin: 10px 0
}
.stylescover{
  background-color: #e9f1ff;
  margin-right: 10px;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stylesicon{
  width: 44px;
  height: 40px;
}
.stylesmeta{
  font-size: 12px;
  color: #333333;
}
.stylestotal{
  font-size: 24px;
  color: #333333
}
.stylescompareText{
  font-size: 12px;
  color: #999999
}
.stylesup{
  color: #fc5848
}
.stylesdown{
  color: #64d874;
}
