.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item{
  display: flex;
  flex-direction: row;
  margin: 10px 0
}
.cover{
  background-color: #e9f1ff;
  margin-right: 10px;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  width: 44px;
  height: 40px;
}
.meta{
  font-size: 12px;
  color: #333333;
}
.total{
  font-size: 24px;
  color: #333333
}
.compareText{
  font-size: 12px;
  color: #999999
}
.up{
  color: #fc5848
}
.down{
  color: #64d874;
}
