.wrapper {
  height: 740px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titleWrapper {
  padding-top: 200px;
  text-align: center;
}

.title {
  color: #333;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 2px;
  text-align: center;
}

.buttons {
  margin-top: 60px;
  text-align: center;
}

.primaryButton {
  height: 50px !important;
  padding: 0 58px !important;
  color: #fff !important;
  font-size: 16px !important;
  line-height: 50px !important;
}

.secondaryButton {
  height: 50px !important;
  margin-right: 20px !important;
  padding: 0 58px !important;
  color: $color-brand1-6 !important;
  font-size: 16px !important;
  line-height: 50px !important;
  background-color: transparent !important;
  border-color: $color-brand1-6 !important;
}
