.container{
  padding: 80px 0;
}
.content{
  width: 1200px;
  margin: 0 auto;
}
.title{
  color: rgba(0,0,0,0.8);
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin: 0 0 24px;
}
