.container {
  height: 100vh;
  padding: 50px 0;
  background: #000;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.mainTitle {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.77px;
}

.mainDesc {
  margin-top: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.tipsList {
  width: 100%;
  margin: 70px 0 20px;
  padding: 2px 24px 14px;
  overflow: hidden;
  background: #191a1e;
}

.tipsText {
  float: left;
  margin: 0;
  margin-right: 30px;
  padding-top: 12px;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
  line-height: 28px;
}

.tipsNum {
  padding: 0 6px;
  color: #236cff;
  font-size: 24px;
  line-height: 24px;
}

.tipsLink {
  color: hsla(0, 0%, 100%, 0.7) !important;
}

.itemBox {
  padding: 32px 24px;
  background: #191a1e;
}

.itemTitle {
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  white-space: nowrap;
}

.itemTime {
  margin-top: 6px;
  margin-bottom: 17px;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.72px;
  white-space: nowrap;
}

.itemTextList {
  height: 118px;
  padding-top: 16px;
  overflow: hidden;
  border-top: 2px solid #fff;
}

.textList {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.itemPriceList {
  margin-top: 24px;
}

.priceList {
  margin-bottom: 8px;
  overflow: hidden;
}

.priceText {
  float: left;
  width: 60%;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  white-space: nowrap;
}

.price {
  padding-left: 2px;
  font-size: 26px;
  letter-spacing: 0.14px;
}

.btnWrap {
  display: block;
  width: 100%;
  margin-top: 8px;
}

.buyLink {
  display: block;
  height: 32px;
  color: #fff !important;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  background: #236cff;
  transition: all 0.3s;
}

.unSale {
  background: #a1a1a1;
}

.isSale {
  background: #236cff;
}
