
    .formItem {
      display: flex;
      align-items: center;
      margin: 10px 0;
    }
    .formLabel {
      min-width: 70px;
    }
  

    .pagination {
      margin-top: 20px;
      text-align: right;
    }
