.container{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .logoText {
    display: block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 22px;
    color: #333;
    font-weight: bold;
  }