.container {
  height: 316px;
}

.reviewRatingWrapper {
  padding: 20px 0;
}

.reviewRatingDesc {
  color: #999;
  text-align: center;
}

.reviewRating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewRatingScore {
  position: absolute;
  right: calc(100% + 20px);
  font-size: 36px;
}

.reviewRatingIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.reviewRatingRatePositive {
  position: absolute;
  left: calc(100% + 20px);
  color: #2ecc71;
  font-size: 26px;
}

.reviewRatingRateNegative {
  position: absolute;
  left: calc(100% + 20px);
  color: #e74c3c;
  font-size: 26px;
}

.reviewRatingIconPositive {
  color: #2ecc71;
}

.reviewRatingIconNegative {
  color: #e74c3c;
}

.reviewRatingDivideLine {
  width: 100px;
  margin: 0 auto;
  border-top: 1px solid #eee;
}

.reviewTargetProgressWrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0 20px 0;
}

.reviewRatingGoalDesc {
  text-align: center;
}

.reviewLeaderboardItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.reviewLeaderboardItemAvatar {
  display: inline-block;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 50%;
}

.reviewLeaderboardItemAvatarImg {
  display: block;
}

.reviewLeaderboardItemName {
  flex: 1;
}
