.container{
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.item{
  background: #FAFAFA;
  border-radius: 6px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.head{
  padding: 30px 0;
  background: #3080FE;
  text-align: center;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
.title{
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 20px
}
.price{
  margin: 0;
  font-weight: bold;
  font-size: 18px
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.image{
  width: 52px;
  height: 52px;
}
.type{
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.description{
  margin: 20px 0;
  line-height: 22px;
  width: 60%;
  text-align: center
}
.buyBtn{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.link{
  padding: 6px 15px;
  background: #3080FE;
  border-radius: 16px;
  color: #fff;
}
