.searchBar {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.actions {
  color: #1890ff;
  font-size: 14px;
}

.info {
  flex: 1;
  font-weight: 400;
}
