.headerContainer {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
  }

  .headerNavbar {
    display: flex;
    flex-direction: row;

    .headerMenuItem {
      margin-left: 60px;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
