.container{
  width: 640px;
  margin: 0 auto;
  padding: 80px 0;
}
.title{
  color: rgba(0,0,0,0.8);
  line-height: 38px;
  text-align: center;
  font-weight:bold;
  font-size: 40px;
  margin: 0 0 24px;
}
.desc{
  color: rgba(0,0,0,.6);
  font-size: 14px;
  line-height: 30px
}
