.iceDesignLayout {
  min-height: 100vh;
  background-color: #2e323f;
  background-image: url(https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
