.asideCustomMenu {
  .userInfo {
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
    width: 240px;
    padding: 20px 0;
    position: relative;

    .userAvatar {
      margin-right: 12px;
      border-radius: 4px;
    }

    .userDepartment {
      font-size: 12px;
    }
  }

  .iceMenuCustom {
    background: #fff !important;
    height: 100vh;

    .iceMenuItemText {
      margin-left: 1em;
    }
  }
}

.menuLogo {
  height: 62px;
  font-size: 30px;
  margin-right: 0;
  background: #fff;
  justify-content: center;
  border-bottom: 1px solid #f5f5f5;
}

.notify {
  position: relative;
  left: -4px;
  top: -12px;
}

.userName {
  font-size: 13px;
}
