.itemTitle{
  position: relative;
}
.titleText{
  margin: 0;
  font-size: 14px;
}
.tag{
  position: absolute;
  top:0;
  right: 0;
  padding: 2px 4px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.itemRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.itemNum{
  margin: 16px 0;
  font-size: 32px;
}
.total{
  margin: 0;
  font-size: 12px;
}
.desc{
  margin: 0;
  font-size: 12px;
}
.itemBody1{
  height: 158px;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background: #31B48D;
  border-radius: 4px;
}
.itemBody2{
  height: 158px;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background: #38A1F2;
  border-radius: 4px;
}
.itemBody3{
  height: 158px;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background: #7538C7;
  border-radius: 4px;
}
.itemBody4{
  height: 158px;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background: #3B67A4;
  border-radius: 4px;
}
