.basicDetailTitle {
  margin: 10px 0;
  font-size: 16px;
};
.infoColumn {
  margin-left: 16px;
};
.infoColumnTitle {
  margin: 20px 0;
  padding-left: 10px;
  border-left: 3px solid #3080fe;
};
.infoItems {
  padding: 0;
  margin-left: 25px;
};
.infoItem {
  margin-bottom: 18px;
  list-style: none;
  font-size: 14px;
};
.infoItemLabel {
  min-width: 70px;
  color: #999;
};
.infoItemValue {
  color: #333;
};
.attachLabel {
  min-width: 70px;
  color: #999;
  float: left;
};
.attachPics {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  margin-right: 10px;
};