.widgetItem {
    margin: 12px 0;
}

.widgetLink {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #666;
    cursor: pointer;
}

.widgetImg {
    width: 30px;
    height: 30px;
}

.widgetName {
    margin-left: 10px;
}