.container {
    background-image: url(./images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 60px 0;
    min-height: 562px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.titleWrap {
    margin-top: 44px;
}

.bigTitle {
    font-size: 68px;
    line-height: 82px;
    font-weight: 700;
    color: #fff;
}

.subTitle {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-top: 8px;
}

.item {
    position: relative;
    margin-top: 48px;
}

.itemNum {
    position: absolute;
    top: -8px;
    left: 0;
    width: 65px;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    color: rgba(35, 108, 255, .2);
    z-index: 0;
    font-weight: 700;
}

.itemBox {
    padding: 0 20px;
}

.itemTitle {
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    font-weight: 700;
}

.itemSubtit {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 2px;
}

.itemDesc {
    font-size: 14px;
    line-height: 22px;
    color: hsla(0, 0%, 100%, .85);
    height: 88px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
}