
.basic-indicator-tab {
  margin-top: 20px;
  background: #f7f7f7;

  .next-tabs-tab.active {
    background: #fff !important;
  }
}

.tabTitle {
  padding: 0;
  color: #666;
  font-weight: 500;
  font-size: 14px;
}

.tabValue {
  margin: 12px 0;
  color: #5e83fb;
  font-weight: 500;
  font-size: 24px;
}

.tabDesc {
  padding: 0 0 10px;
  color: #999;
  font-size: 12px;
}

.complexTab {
  padding: 0 40px;
}
