.ice-design-layout-footer {
  background-color: transparent;
}

.ice-design-layout-footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;

  .copyright {
    color: #666;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
  }

  .copyright-link {
    color: #666;
  }
}
