@charset "UTF-8";

.editableTable {
  .celleditor {
    &:hover .celleditor-trigger {
      display: inline-block;
    }
  }
  .celleditor-trigger {
    display: none;
  }
}

.addNewItem {
  background: #F5F5F5;
  height: 32;
  line-height: 32px;
  margin-top: 20;
  cursor: pointer;
  text-align: center;
}