.wrapperContainer {
  background-color: #f6f6f6;
}

.wrapper {
  position: relative;
  max-width: 1190px;
  height: 500px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.feature {
  margin-right: 10%;
  margin-left: 50%;
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 30px;
  background-image: url('./images/TB1fFH5pAyWBuNjy0FpXXassXXa-66-66.png');
  background-repeat: no-repeat;
  background-position: 10px 120px;
}

.line {
  width: 140px;
  height: 2px;
  margin: 20px 0;
  background-color: #fff;
}

.lineHeader {
  width: 33px;
  height: 2px;
  background-color: $color-brand1-6;
}

.title {
  color: $color-brand1-6;
  font-size: 36px;
}

.desc {
  max-width: 400px;
  color: #6d7a82;
  font-size: 16px;
  line-height: 26px;
}

.cover {
  position: absolute;
  right: 55%;
  bottom: 0;
}

.coverImage {
  display: block;
  max-height: 430px;
}
