
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #151618;
  background-image: url(https://img.alicdn.com/tfs/TB1EH5cx9zqK1RjSZFjXXblCFXa-3360-520.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
}

.link {
  margin: 10px;
  padding: 10px 20px;
  color: #333;
  border-radius: 4px;
}

.startLink {
  background: rgba(255,255,255,0.9);
}

.builderLink{
  background: rgba(255,255,255,0.9);
}
