.name{
  margin: 0;
  font-size: 16px;
}
.header{
  display: flex;
  align-items: center;
}
.wrap {
  padding-top: 20px;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
};
.col {
  margin: 0 0 20px 0;
};
.img {
  width: 80px;
  height: 80px;
  display: block;
};
.status {
  text-align: center;
  color: #333;
  font-size: 14px;
};
.title {
  margin: 0;
  font-size: 16px;
};
.desc {
  font-size: 12px;
  color: #999;
  line-height: 20px;
};
.link {
  font-size: 12px;
  cursor: pointer;
  margin-right: 20px;
  color: #5e83fb;
};
.spanPadding{
  font-size: 12px;
  color: #999;
  padding-left: 20px;
}
