.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.itemTitle {
  color: #697b8c;
  font-size: 14px;
}

.itemValue {
  margin-top: 10px;
  color: #314659;
  font-size: 36px;
}
