.item {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemTitle {
    color: #697b8c;
    font-size: 14px;
}

.itemValue {
    color: #314659;
    font-size: 36px;
    margin-top: 10px;
}