.item {
  padding: 15px;
  border: 1px solid #e1e2e3;
}

.title {
  margin-bottom: 15px;
  color: #666;
  font-size: 13px;
}

.num {
  margin-bottom: 15px;
  color: #333;
  font-weight: 600;
}

.ratio {
  color: #666;
  font-size: 13px;
}

.arrowIcon {
  margin-right: 5px;
}

.arrowupIcon {
  color: red;
}

.arrowdownIcon {
  color: green;
}

.titleMargin {
  margin-top: 20px !important;
}
