.item {
  border: 1px solid #e1e2e3;
  padding: 15px;
};
.title {
  color: #666;
  font-size: 13px;
  margin-bottom: 15px;
};
.num {
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
};
.ratio {
  color: #666;
  font-size: 13px;
};
.arrowIcon {
  margin-right: 5px;
};
.arrowupIcon {
  color: red;
};
.arrowdownIcon {
  color: green;
};
.titleMargin{
  margin-top: 20px !important;
}
