.circleprogress{

}
.chart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.list{
  padding-left: 15px;
}
.item{
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.label{
  min-width: 80px;
  display: inline-block;
  margin-right: 10px;
  color: $color-text1-3;
}
.number{
  font-size: 18px;
  color: #333333;
  font-weight: 500
}
