.container{
  width: 100%;
  padding: 80px 0;
  background: #fff;
};
.content{
  width: 1200px;
  margin: 0 auto;
};
.title{
  margin: 0 0 10px;
  color: #475168;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
};
.desc{
  margin: 0 0 20px;
  color: #8a8b8b;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
};
.feature{
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  border-radius: 4px;
  background: #f4f4f4;
};
.featrueTitle{
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #666;
};