@charset "UTF-8";

/* fallback */
@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('./material-icons.woff2') format('woff2');
}

.title {
  margin: 0 0 20px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #eee !important;
}

.form {
  margin-top: 30px !important;
}

.mr {
  margin-left: 10px !important;
}

:global .material-icons {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  /* stylelint-disable-next-line */
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
