
    .tableFilter {
      display: flex;
      background: #f4f4f4;
      padding: 15px 0;
      margin-bottom: 20px;
    }
    .filterItem{
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
    .submitButton {
      margin-left: 15px;
    }
 