
.tableFilter {
  display: flex;
  margin-bottom: 20px;
  padding: 15px 0;
  background: #f4f4f4;
}

.filterItem{
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.submitButton {
  margin-left: 15px;
}
