.contentText {
  padding: 5px 0 15px !important;
}

.mr {
  margin-right: 5px !important;
}

.editDialog {
  display: inline-block !important;
  margin-right: 5px !important;
}

.w {
  width: 640px !important;
}
