.headerContainer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: $color-brand1-6;
  min-width: 1200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  .headerContent {
    width: 100%;
    height: 62px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerNavbar {
    display: flex;
    flex-direction: row;

    .headerNavbarMenu {
      box-shadow: none;
    }
  }

  .userAvatar {
    margin-right: 12px;
    border-radius: 4px;
  }

  .userDepartment {
    font-size: 12px;
  }

  .iceDesignHeaderUserpannel {
    margin-left: 20px;
    cursor: pointer;
    .userProfile {
      display: inline-block;
      text-align: center;
      margin-bottom: 2px;
      color: #fff;
    }
    .iconDown {
      margin-left: 2px;
      color: #fff;
    }
  }
}

.userProfileMenu {
  width: 130px;
  border-radius: 6px;
  padding: 0 16px;
  .userProfileMenuItem {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    a:hover {
      color: #2077ff;
    }
    i {
      margin-right: 5px;
    }
  }
}
