.nav-menu {
  .arrow-up-icon,
  .arrow-down-icon {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 1;
    transition: 0.3s ease;
  }
  .sub-navs,
  .arrow-up-icon {
    display: none;
  }
  &:hover {
    background: #272b2f;
    .sub-navs,
    .arrow-up-icon {
      display: block;
    }
    .arrow-down-icon {
      display: none;
    }
  }
}

  .container {
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
  }
  .logoLink {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    color: #fff;
  }
