.tableCard {
  padding: 10px !important;
}
.subTitle {
  margin-top: 4px;
  color: #999;
  font-size: 12px;
}
.operationButton {
  margin-right: 10px;
}
.priority {
  width: 70px;
  text-align: center;
}
.operations {
  line-height: 28px;
}
.pagination {
  padding-top: 26px;
  text-align: right;
}
.dialog {
  width: 640px;
}
.formRow {
  margin-top: 20px;
}
.input {
  width: 100%;
}
.progressWrapper {
  margin-top: 10px;
}
.formLabel {
  display: inline-block;
  line-height: 26px;
  text-align: right;
}
