.container {
  padding: 70px 0;
  background: #000;
}

.content {
  width: 80%;
  margin: 50px auto 0;
}

.title {
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.line {
  width: 38px;
  height: 3px;
  margin: 14px auto 0;
  overflow: hidden;
  font-size: 0;
  background-color: #fa7453;
}

.desc {
  margin-top: 15px;
  overflow: hidden;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.box {
  position: relative;
  margin-bottom: 20px;
}

.avatar {
  display: block;
  max-width: 100%;
  vertical-align: top;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.5));
  background-repeat: repeat-x;
}

.name {
  display: block;
  width: 90%;
  margin: 14px auto 0;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.job {
  display: block;
  width: 90%;
  margin: 0 auto 14px;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}
