.container{
  padding: 0;
  min-height: 100vh;
};
.historyItem{
  padding: 20px 20px 10px;
  border-bottom: 1px solid #f2f2f2;
};
.itemInfo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 12px;
};
.time{
  color: rgba(0,0,0,.6);
};
.query{
  cursor: pointer;
  color: rgba(49, 128, 253, 0.65);
};
.keyword{
  display: inline-block;
  padding: 6px 10px;
  background-color: rgba(31,56,88,0.06);
  border-radius: 3px;
  margin-bottom: 8px;
  margin-right: 8px;
  max-width: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
};