.label {
  text-align: center;
}

.formContent {
  position: relative;
  width: 100%;
}

.formItem {
  align-items: center;
  margin-bottom: 25px;
}

.formTitle {
  margin: 0 0 20px;
  padding-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #eee;
}

.inputItem {
  width: 100%;
}

.btn {
  width: 100px;
}

.row {
  margin-top: 20px;
}

.IceFormError {
  margin-left: 10px;
}
