.label{
  text-align: center;
}
.formContent{
  width: 100%;
  position: relative;
}
.formItem{
  align-items: center;
  margin-bottom: 25px
}
.formTitle{
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: #333
}
.inputItem{
  width: 100%;
}
.btn{
  width: 100px;
}
.row{
  margin-top: 20px;
}
.IceFormError{
  margin-left: 10px;
}
