.formTitle {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 4px;
  text-align: center;
}
.formItem {
  margin-bottom: 20px;
}
.submitButton {
  justify-content: center;
}
.checkbox {
  color: #999;
}
.footer {
  align-items: center;
  justify-content: center;
}
.line {
  margin: 0 5px;
  color: #999;
}
.link {
  margin: 0 5px;
  color: #999;
  font-size: 12px;
}
.container {
  position: relative;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("./images/bg.jpg");
  background-size: cover;

}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
}
.containerLogin {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
}
.logoLink {
  display: block;
}
.logoImg {
  width: 102px;
}
.title {
  margin-top: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 38px;
  line-height: 1.5;
  text-align: center;
}
.description {
  margin-top: 30px;
  color: #fff;
  font-size: 16px;
}
.button {
  width: 180px;
  height: 48px;
  margin-top: 40px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50px;
}
.buttonCustom {
  width: 180px !important;
  height: 48px !important;
  margin-top: 40px !important;
  line-height: 48px !important;
  text-align: center !important;
  border: 1px solid #9816f4 ;
  border-radius: 50px !important;
  box-shadow: 0 5px 10px 2px rgba(152,22,244,0.19) !important;
}
.input {
  width: 320px !important;
  border-color: #ebedf2 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
}
.customBorder{
  border: 0;
}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}
.containerInfo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image:url("./images/bg.jpg");
  background-size: cover;
}
.contentInfo {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleInfo {
  margin-top: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 38px;
  line-height: 1.5;
  text-align: center;
}
