.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 4px;
}

.title {
  margin-bottom: 10px;
  font-size: 12px;
}

.value {
  font-weight: bold;
  font-size: 24px;
}
