.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}
.title{
  font-size: 28px;
  text-align: center
}
.name{
  font-weight: bold;
  font-size: 15px;
}
.avatar{
  width: 150px;
  height: 150px;
}
.description{
  color: #999;
  line-height: 22px;
}
