.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}
.title{
  text-align: center;
  font-size: 28px
}
.name{
  font-weight: bold;
  font-size: 15px;
}
.avatar{
  width: 150px;
  height: 150px;
}
.description{
  line-height: 22px;
  color: #999;
}
