.stylescontainer{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}
.stylestitle{
  text-align: center;
  font-size: 28px
}
.stylesname{
  font-weight: bold;
  font-size: 15px;
}
.stylesavatar{
  width: 150px;
  height: 150px;
}
.stylesdescription{
  line-height: 22px;
  color: #999;
}
