
.dataItem {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  padding: 20px;
}

.dataItemImg {
  width: 58px;
  margin-right: 30px;
}

.dataItemUnit {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-between;
  height: 72px;
}

.unitTitle {
  color: #666;
  font-size: 12px;
}

.unitAmount {
  color: #333;
  font-size: 24px;
}

.unitFooter {
  color: #999;
  font-size: 12px;
}
