.title {
  margin: 0;
  padding: 20px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #eee;
}

.titleTwo {
  margin: 0;
  padding: 15px 20px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #eee;
}

.formRow {
  padding: 10px 20px;
}

.formItem {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.formLabel {
  min-width: 70px;
}

.container {
  padding: 0 0 20px !important;
}

.link {
  margin: 0 5px;
  color: rgba(49, 128, 253, 0.65);
  cursor: pointer;
  text-decoration: none;
}

.separator {
  margin: 0 8px;
  display: inline-block;
  height: 12px;
  width: 1px;
  vertical-align: middle;
  background: #e8e8e8;
}

.table {
  padding: 0 20px;
}

.pagination {
  text-align: right;
  margin-top: 20px;
  padding: 0 20px;
}
