.container {
  display: block;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}