
    .container {
      position: relative;
      height: 500px;
      background-image: url(./images/banner.jpg);
      background-size: cover;
    }
    .content {
      position: absolute;
      top: 30%;
      left: 60%;
      width: 500px;
    }
    .caption {
      margin-bottom: 30px;
      color: #666;
      font-weight: 400;
      font-size: 18px;
    }
    .quickStart {
      display: inline-block;
      padding: 15px 20px;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      background: #6ac8f3;
      border-radius: 4px;
    }
