.custom-notice.next-notice-prompt {
  .next-notice-symbol {
    color: #f5a12a;
  }
  .next-notice-close {
    color: #666;
  }
}
.stylesnotice{
  background: #fffaf2;
  border: 1px solid #f2e3ce;
  margin-bottom: 30px;
}
.stylestitle1{
  color: #666;
  font-size: 14px;
}
.stylesnum{
  font-weight: bold;
  margin: 0 4px;
}
