.customnotice.nextnoticeprompt {
  .nextnoticesymbol {
    color: #f5a12a;
  }
  .nextnoticeclose {
    color: #666;
  }
}
.notice{
  background: #fffaf2;
  border: 1px solid #f2e3ce;
  margin-bottom: 30px;
}
.title1{
  color: #666;
  font-size: 14px;
}
.num{
  font-weight: bold;
  margin: 0 4px;
}
