.container {
  //background: url("./images/TB1JGoDi3vD8KJjy0FlXXagBFXa-5040-2811.png");
  background-size: cover;
}
.content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}
.head {
  width: 50%;
  margin: 0 auto;
}
.title {
  margin: 0;
  color: #fff;
  font-size: 28px;
  text-align: center;
}
.intro {
  color: #fff;
  text-align: center;
}
.formContent {
  max-width: 680px;
  margin: 60px auto;
  padding: 0 20px;
}
.errorText {
  color: #fff;
}
.submitBtn {
  color: #2977f3 !important;
  background: #fff !important;
  border-radius: 6px !important;
}
.verFormItem {
  margin-top: 20px;
}
.formErrorWrapper {
  color: red;
}
.inputWidth {
  width: 100% !important;
  margin-top: 20px !important;
}
