.stylescontainer{
  padding: '0 0 20px',
}
.stylestitle{
  margin: '0';
  padding: '15px 20px';
  font-size: '16px';
  text-overflow: 'ellipsis';
  overflow: 'hidden';
  white-space: 'nowrap';
  color: 'rgba(0,0,0,.85)';
  font-weight: '500';
  border-bottom: '1px solid #eee';
}

