.header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.logoLink {
  color: $color-brand1-6 !important;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
}

.nav {
  display: flex;
}

.navItem {
  height: 40px;
  margin-left: 20px;
  line-height: 40px;
}

.navItemLink {
  display: inline-block;
  padding: 0 20px;
  color: $color-brand1-6 !important;
  text-decoration: none;
}

.activeNavItemLink {
  composes: navItemLink;
  color: #fff !important;
  background: $color-brand1-6;
  border-radius: 4px;
}
