
    .content {
      align-items: center;
    }
    .logo{
      width: 86px;
    }
    .nav{
      text-align: right;
    }
    .navLink {
      margin-right: 20px;
      color: rgba(0, 0, 0, 0.87);
    }
    .navLinks{
       margin-right: 0;
    }
  