@charset "UTF-8";

.user-login {
  .nextInput.nextInputSingle {
    width: 240px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #dcdcdc;
    border-radius: 0;
    input {
      padding-left: 25px;
      font-size: 13px;
    }
  }
  .nextCheckboxLabel {
    color: #999;
    font-size: 13px;
  }
  .contentWrapper {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .slogan {
      text-align: center;
      color: #fff;
      font-size: 36px;
      letter-spacing: 2px;
      line-height: 48px;
    }
  }
}

@media screen and (max-width: 720px) {
  .userLogin {
    .contentWrapper {
      margin: 20px auto;
      top: 40px;
      max-width: 300px;
      display: block;
      .slogan {
        color: #666;
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}

.userLogin{
  position: relative;
  height: 100vh;
};
.userLoginBg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
};
.formContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #eee;
};
.formItem{
  position: relative !important;
  margin-bottom: 25px !important;
  flex-direction: column !important;
};
.formTitle{
  margin: 0 0 20px;
  text-align: center;
  color: #3080fe;
  letter-spacing: 12px;
};
.inputIcon{
  position: absolute !important;
  left: 0px !important;
  top: 3px !important;
  color: #999 !important;
};
.submitBtn{
  width: 240px;
  background: #3080fe;
  border-radius: 28px;
};
.checkbox{
  margin-left: 5px !important;
};
.tips{
  text-align: center !important;
};
.link{
  color: #999;
  text-decoration: none;
  font-size: 13px;
};
.line{
  color: #dcd6d6;
  margin: 0 8px;
};