.container{
  border-radius: 0;
  width: 100%;
  padding: 80px 0;
  background:url(./images/TB1JGoDi3vD8KJjy0FlXXagBFXa-5040-2811.png)
}
.content{
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
.item{
  margin-bottom: 20px;
  padding: 20px 30px 60px;
  background: #fff;
  border-radius: 6px;
}
.head{
  padding: 30px 0;
  text-align: center;
  border-radius: 6px 6px 0 0;
}
.title{
  margin: 0 05px;
  font-weight: bold;
  font-size: 20px
}
.price{
  margin: 0;
  font-weight: bold;
  font-size: 22px
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description{
  margin: 20px auto;
  line-height: 22px;
  text-align: center;
  width: 60%;
  color: #999;
}
.buyBtn{
  display: flex;
  justify-content: center;
  margin-top: 20px
}
.link{
  padding: 6px 15px;
  background: #3080FE;
  border-radius: 16px;
  color: #fff;
}
