.container {
    background: #0e0e0e;
    padding: 54px 0 70px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.desc {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: justify;
    margin-top: 14px;
    max-width: 830px;
}

.link {
    color: #00b7d3;
}

.rightContent {
    position: relative;
}

.textBox {
    padding-left: 100px;
}

.qrcode {
    width: 82px;
    height: 82px;
    position: absolute;
    top: 0;
    left: 0;
}

.subtit {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 22px;
}

.text {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    margin-top: 6px;
}