.landingIntro {
  position: relative;
  height: 100vh;
}
.landingIntroBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}
.contentWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: #fff;
  line-height: 48px;
  letter-spacing: 1.94px;
  text-align: center;
}
.buttons {
  margin-top: 70px;
  text-align: center;
}
.buttonPadding{
  height: 50px !important;
  margin: 0 10px 20px;
  padding: 0 58px !important;
  font-size: 16px !important;
}
.buttonColor{
  height: 50px !important;
  margin: 0 10px 20px;
  padding: 0 58px !important;
  color: #fff;
  font-size: 16px !important;
}
