.container {
    width: 100%;
    height: 850px;
    margin-top: 78px;
    background-image: url(./images/banner.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.title {
    padding-top: 215px;
}

.titlePic {
    width: auto;
    height: 148px;
    display: block;
}

.time {
    margin-top: 50px;
}

.timePic {
    max-height: 34px;
    max-width: 100%;
}

.button {
    margin-top: 90px;
}

.link {
    display: block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #fff !important;
    background: #236cff;
    text-decoration: none;
    transition: all .3;
}