.hyAbilityStyles {
  text-align: center ;
  background: #fff;
  padding:  40px 0;
}
.hyAbilityItemStyle {
  display: inline-block;
  width: 360px;
  margin: 35px 0;
  vertical-align: top;
}
.hyAbilityItemImgStyle {
  height: 62px;
}
.hyAbilityItemTitleStyle {
  font-size: 20px;
  line-height: 26px;
  color: #333;
  font-weight: 400;
  margin: 18px 0 10px;
}
.hyAbilityItemSubtitleStyle {
  font-size: 16px;
  color: #999;
  line-height: 21px;
}
