/* TargetBox.js */
.TargetBox{
  min-height: 15rem;
  padding: 15px;
  background: #fff;
}

/* SourceBox.js */
.SourceBox{
  width: 100%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 1px dashed #ddd;
  cursor: move;
}

/* Container.js */
.listContainer{
  display: flex;
};
.list{
  flex: 1;
  margin: 0 7.5px;
  padding: 15px;
  background: #f7f7f7;
  border-radius: 4px;
};
.listTitle{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
};
.listNoe{
  min-height: 15rem;
  padding: 15px;
  background: #fff;
}