.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 20px;
};
.brandHeader {
  position: relative;
  text-align: center;
};
.brandTitle {
  margin-bottom: 40px;
  font-size: 20px;
  color: #333333;
};
.brandItem {
  height: 175px;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  overflow: hidden;
};
.brandItemContent {
  display: flex;
};

.caseContent {};
.caseSubject {
  margin: 0 10px 0;
  line-height: 60px;
  height: 60px;
};
.subjectImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
};
.subjectDesc {
  font-size: 16px;
  color: #333333;
  height: 60px;
  vertical-align: top;
  margin-left: 12px;
};
.caseDetail {
  margin-top: 0;
  font-size: 12px;
  color: #666666;
  padding: 0 16px;
  text-align: left;
};