.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 20px;
}
.brandHeader {
  position: relative;
  text-align: center;
}
.brandTitle {
  margin-bottom: 40px;
  color: #333;
  font-size: 20px;
}
.brandItem {
  display: inline-block;
  height: 175px;
  margin-bottom: 30px;
  overflow: hidden;
  vertical-align: top;
  background: #fff;
}
.brandItemContent {
  display: flex;
}

.caseSubject {
  height: 60px;
  margin: 0 10px 0;
  line-height: 60px;
}
.subjectImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.subjectDesc {
  height: 60px;
  margin-left: 12px;
  color: #333;
  font-size: 16px;
  vertical-align: top;
}
.caseDetail {
  margin-top: 0;
  padding: 0 16px;
  color: #666;
  font-size: 12px;
  text-align: left;
}
