
    .summary {
      display: flex;
      justify-content: space-between;
    }
    .item {
      text-align: center;
    }
    .value {
      margin-top: 10px;
      font-size: 28px;
      font-weight: bold;
    }
  
  