
.items {
  margin-bottom: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #434857;
}

.label {
  color: #fff;
}

.value {
  color: #999;
}

.button {
  display: inline-block;
  margin: 0 20px 20px;
  padding: 8px 10px;
  border: 1px solid #1997c6;
  border-radius: 6px;
}
