
    .items {
      margin-bottom: 15px;
    }
    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #434857;
      padding: 10px 20px;
    }
    .label {
      color: #fff;
    }
    .value {
      color: #999;
    }
    .button {
      display: inline-block;
      border: 1px solid #1997C6;
      margin: 0 20px 20px;
      padding: 8px 10px;
      border-radius: 6px;
    }
