.content {
  margin-bottom: 80px;
}

.desc {
  margin: 10px 0;
  color: #666;
}

.avatar {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
