.header-container {
  background: $color-text1-4;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .nav-name-text {
    padding-left: 1em;
  }

  .header-navbar {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-end;

    .header-navbar-menu {
      box-shadow: none;
    }
  }

  .user-avatar {
    margin-right: 12px;
    border-radius: 4px;
  }

  .user-department {
    color: $color-white;
    font-size: 12px;
  }

  .ice-design-header-userpannel {
    margin-left: 20px;
    cursor: pointer;

    .user-profile {
      display: inline-block;
      margin-bottom: 2px;
      color: $color-white;
      text-align: center;
    }

    .icon-down {
      margin-left: 2px;
      color: $color-white;
    }
  }
}

.user-profile-menu {
  width: 130px;
  padding: 0 16px;
  border-radius: 6px;

  .user-profile-menu-item {
    height: 40px;
    color: #666;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;

    a:hover {
      color: #2077ff;
    }

    i {
      margin-right: 5px;
    }
  }
}
