
    .operation {
      margin-right: 12px;
      text-decoration: none;
    }
    .paginationWrapper {
      padding-top: 26px;
      text-align: right;
    }
    .reslove{
        line-height: 28px;
    }
    .newTtitle{
        display: flex;
        flex-direction: row;
    }
    .newTtitles{
        margin-left: 10px;
   line-height: 20px
    }
  