.formRow{
    margin-bottom: 18px;
  }
  .formCol{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .label{
    line-height: 28px;
    padding-right: 10px;
  }
  .headRow{
    margin-bottom: 10px;
  }
  .icon{
    color: #2c72ee;
    cursor: pointer;
  }
  .deleteIcon{
    margin-left: 20px;
  }
  .center{
    text-align: right;
  }
  .button{
    border-radius: 4px;
  }
  .pagination{
    margin-top: 20px;
    text-align: right;
  }
  .normalBtn{
      margin-left: 10px;
  }
  .choose{
      width: 200px;
  }
  .school{
      width: 200px;
  }
  .user{
      margin-left: 4px
  }
