.head {
  margin-bottom: 20px;
  padding: 15px 0;
  border-bottom: 1px solid $color-line1-1;
}

.title {
  margin: 0 0 5px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.desc {
  margin: 0;
  color: $color-text1-2;
  font-size: 12px;
}

.balloonTitle {
  margin: 0 0 15px;
  padding-left: 10px;
  font-weight: 500;
  border-left: 4px solid $color-brand1-6;
}

.ranking {
  font-weight: 500;
  font-size: 15px;
}

.zh {
  margin-bottom: 10px;
}

.origin {
  text-align: left;
}

.director {
  margin-bottom: 10px;
}

.actor {
  margin-bottom: 10px;
}

.summary {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: right;
}

.returns {
  margin-bottom: 10px;
}

.arrowUpIcon {
  margin-right: 5px;
  color: $color-error-3;
}

.score {
  color: $color-data1-1;
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}

.pagination {
  margin: 20px 0;
  text-align: right;
}

.customTable {
  th {
    color: #333;
    font-weight: bold;
    background: #eff5f8;
  }
}
