.failureDetail{
  text-align: center;
};
.img{
  width: 40px;
  height: 40px;
};
.successDetailHead{
  position: relative;
};
.title{
  margin: 0;
  font-weight: bold;
};
.summary{
  margin-bottom: 40px;
  color: #666;
  font-size: 14px;
};
.descrpiton{
  color: #666;
  font-size: 14px;
};
.backToLink{
  display: inline-block;
  height: 28px;
  margin-top: 80px;
  padding: 0 16px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  background-color: #3080fe;
  border-radius: 50px;
};
.card{
  padding: 80px 40px !important;
};