.introBannerWrapStyles {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introBannerImgStyles {
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  display: block !important;
  width: 1920px !important;
  height: 100% !important;
  transform: translateX(-50%) !important;
  z-index: 10 !important;
}

.introBannerImgMaskStyles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.45;
  z-index: 15;
}

.introBannerTextStyles {
  position: relative;
  z-index: 99;
  width: 1200px;
  color: #fff;
}

.introBannerTitleStyles {
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
}

.introBannerSubtitleStyles {
  margin-top: 8px;
  margin-bottom: 48px;
  max-width: 768px;
  font-size: 16px;
  line-height: 25px;
}
