.container {
    padding: 50px 0;
    color: #fff;
    background: #475268;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.link {
    display: block;
    height: 22px;
    margin-bottom: 20px;
    color: #fff;
    line-height: 22px;
    cursor: pointer;
}

.qrcode {
    width: 160px;
    border-radius: 4px;
}

.copyRight {
    text-align: center;
}