.hot-rank-item {
    text-decoration: none;
    &:link,
    &:visited {
        color: #333;
    }
    &:hover {
        color: #6af;
        background-color: #fafafa;
    }
}

.header {
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.index {
    min-width: 22px;
    height: 22px;
    margin-right: 10px;
    padding: 0 4px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background-color: #c6c6c6;
    border: 2px solid #eee;
    border-radius: 11px;
}

.keyword {
    flex: auto;
    font-size: 14px;
}

.total {
    width: 40px;
    padding-left: 10px;
    font-size: 12px;
}

.link {
    padding-left: 10px;
    font-size: 12px;
}