
    .cardTitle {
      margin: 0 0 20px;
      font-size: 18px;
      padding-bottom: 15px;
      font-weight: bold;
      border-bottom: 1px solid #eee;
    }
    .miniCard {
      position: relative;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #eee;
      color: #666;
    }
    .label {
      margin-bottom: 8px;
      font-weight: 600;
      color: #333;
      font-size: 14px;
      height: 14px;
      line-height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .time {
      color: #ee6f6d;
      font-weight: 600;
      padding: 0 4px;
    }
    .arrowIcon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      top: 20px;
      right: 10px;
      border-radius: 50%;
      border: 1px solid #eee;
      color: #eee;
    }
 