
.tableHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}

.tableTitle {
  height: 20px;
  padding-left: 12px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border-left: 4px solid #666;
}

.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  background: #28a745;
  border-radius: 50px;
}

.stateText {
  color: #28a745;
}
