.item{
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.itemTitle{
  color: #697b8c;
  font-size: 14px;
}
.itemValue{
  color: #314659;
  font-size: 36px;
  margin-top: 10px;
}
.container{
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
.title{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
