.titleRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
};
.cardTitle{
  display: inline-flex;
  margin: 0;
  font-size: 18px;
};
.title{
  display: inline-flex;
  font-size: 14px;
  line-height: 22px;
};
.status{
  display: flex;
  align-items: center;
  color: #999;
  font-size: 12px;
};
.itemRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
};
.avatar{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
};
.item{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  border-bottom: 1px solid #fafafa;
};
.message{
  margin-bottom: 15px;
  padding-left: 34px;
  color: #999;
  font-size: 12px;
  line-height: 22px;
};
.allMessage{
  height: 50px;
  line-height: 50px;
  text-align: center;
};