@charset "UTF-8";

.tagmessagelist {
  .nexttabs .nexttabscontent {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.item{
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
}
.title{
  font-size: 14px;
  color: #666;
}
.date{
  font-size: 12px;
  color: #666;
}
.allMessage{
  margin-top: 20px;
  text-align: center;
}
