.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}
.item{
  text-align: center;
  padding: 10px 22px;
  margin-bottom: 20px;
}
.pic{
  width: 100px;
  height: 100px;
}
.title{
  font-weight: bold;
}
.desc{
  line-height: 22px;
  color: #999;
}
