.filterCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination{
  text-align: right;
  padding-top: 20px;
  padding-bottom: 10px;
}
.tableCard{
  padding: 10px;
}
