.container {
  position: relative;
  height: 100vh;
  color: #fff;
  background-color: #000;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
}

.bg {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.side {
  z-index: 1;
  width: 320px;
  padding: 10px;
}

.middle {
  flex: 1;
}

.header {
  position: relative;
  z-index: 9;
  text-align: center;
}

.pageTitle {
  margin: 0;
  font-size: 36px;
}

.time {
  margin-bottom: 20;
}

.sum {
  height: 44px;
  margin: 25px 0 0;
  color: #f7d947;
  font-weight: 400;
  font-size: 62px;
  line-height: 44px;
}

.title {
  max-width: 340px;
  margin: 0 auto;
  padding: 4px 2px;
  color: #f7d947;
  font-size: 16px;
  text-align: center;
  background-color: rgba(26, 72, 78, 0.6);
  border-radius: 2px;
}

.list {
  margin-top: 20px;
  color: #fff;
  line-height: 36px;
}

.item {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #00f0ff;
}

.name {
  margin-left: 10px;
}
