.wrapper {
  height: 740px;
  overflow: hidden;
}

.body {
  text-align: center;
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #000;
  font-size: 24px;
}

.text {
  color: #666;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
}

.image {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
