@charset "UTF-8";

.settings-form {
  .next-input {
    width: 100%;
  }
  .next-upload-select-picture-card {
    margin-bottom: 0;
  }
}


  .labe {
    text-align: right;
  }
  .formContent {
    width: 100%;
    position: relative;
  }
  .formItem {
    align-items: center;
    margin-bottom: 25px;
  }
  .formTitle {
    margin: 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .selfDes{
     margin-top: 20px;
  }
  .seleBtn{
    width: 100PX;
  }


