.container {
    background: #1861D5;
    padding: 80px 0;
    width: 100%;
}

.items {
    max-width: 1080px;
    margin: 0 auto;
}

.item {
    padding: 20px 30px;
    text-align: center;
}

.navItem {
    list-style: none;
}

.itemTitle {
    margin: 0 0 10px;
    color: #fff;
    font-size: 24px;
}

.navLink {
    display: block;
    height: 32px;
    line-height: 32px;
    color: #E1EEFF;
}

.copyRight {
    color: #fff;
    text-align: center;
}