.container {
    background: #F7F8FA;
}

.itemBody {
    margin: 10px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
}

.itemImg {
    max-width: 100%;
}

.itemTitle {
    margin: 0;
    padding: 10px 0 0;
    font-size: 15px;
    text-transform: uppercase;
}