.formContent {
    position: relative;
    width: 100%;
  };
  .formItem {
    margin-bottom: 25px;
  }
  .formLabel {
    height: 32px;
    line-height: 32px;
    text-align: right;
  }
  .formTitle {
    margin: 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .userName{
    width: 100%;
  }
  .nickName{
    width: 100%
  }
  .emailAdd{
    width: 100% 
  }


.chooseMan{
  width: 100%;
}
  .stateMan{
    width: 100%
  }
  .anotherNum{
    width: 100% 
  }
  .sameNum{
    width: 100%;
  }
  



