.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.logo {
    color: #3080FE;
    font-weight: bold;
    font-size: 28px;
    margin: 12px 0;
}

.nav {
    width: 400px;
    margin: 0 auto;
    display: flex;
}

.navItem {
    width: 25%;
    line-height: 54px;
    list-style: none;
    text-align: center;
}

.navLink {
    color: #666;
    display: block;
}

.share {
    line-height: 54px;
    text-align: center;
}

.shareIcon {
    width: 22px;
    height: 16px;
}

.weChart {
    margin-left: 20px;
    width: 22px;
    height: 16px;
}

.copyRight {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    font-size: 12px;
}