.stylestitle{
  margin: 0;
  padding: 15px 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}
.box{
  padding: 0 !important;
}
.row{
  padding-top: 30px
}
