
    .dialogContent {
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .icon {
      width: 52px;
      height: 52px;
      margin: 46px;
      margin-bottom: 10px;
    }
    .text {
      font-size: 16px;
    }
    .widthOne{
        width: auto;
    }
    .widthOne{
        width:640px ;
    }
    .heightOne{
        height: auto;
    }
    .heightTwo{
        height: 340px;
    }
  