.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}
.icon {
  width: 52px;
  height: 52px;
  margin: 46px;
  margin-bottom: 10px;
}
.text {
  font-size: 16px;
}
.widthOne {
  width:640px ;
}
.heightOne {
  height: auto;
}
.heightTwo {
  height: 340px;
}
  