@charset "UTF-8";

.excellentHomePage {
  position: relative;

  .title {
    margin-bottom: 30px;
    color: #000;
    font-size: 78px;
    line-height: 60px;
    letter-spacing: 4px;
    text-align: center;
  }

  .subtitle {
    width: 700px;
    margin: 0;
    color: #000;
    font-weight: 100;
    font-size: 22px;
    line-height: 1.7em;
    text-align: center;
    text-shadow: #c8c8c8 1px 1px 2px;
  }
}

@media (max-width: 999px) {
  .excellentHomePage {
    .title {
      font-size: 48px;
    }
    .subtitle {
      max-width: 80vw;
      font-size: 18px;
    }
  }
}

.excellentHomePageBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.excellentHomePageContentWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .excellentHomePageContent {
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .excellentHomePageButtons {
    a:hover,
    a:visited,
    a:link {
      color: #fff;
    }
  }
}

.leftButton{
  margin-right: 20px;
};
.gitStar{
  width: 145px;
  height: 32px;
  margin: 0 auto;
  border: 0;
};
.gitContainer{
  margin-top: 30px;
  text-align: center;
};
.updateLogLinkWrap{
  text-align: center;
};
.updateLogLink{
  color: #fff;
};
.sty1{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./images/TB1oJNKsFOWBuNjy0FiXXXFxVXa-1900-1010.svg');
  background-position: center;
  background-size: cover;
}
.sty2{
  height: 50px;
  margin-bottom: 20px;
  padding: 0 58px;
  font-size: 16px;
  background: #00CE72;
}
.sty3{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}
.sty4{
  position: relative;
  margin-top: 80px;
}