.row {
  align-items: center;
  padding-top: 50px;
}

.title {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 450;
  font-size: 16px;
}

.value {
  color: $color-data1-1;
  font-weight: bold;
  font-size: 40px;
}
