
.title {
  height: 40px;
  margin: 0;
  line-height: 40px;
}

.content {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.description {
  margin: 0;
  color: #999;
}

.earnings {
  margin: 23px 0 10px;
  font-weight: bold;
  font-size: 38px;
}
