.wrapper{
  height: 740px;
  overflow: hidden;
  background-image: url(./images/TB1d..oRVXXXXX4XVXXXXXXXXXX-2760-1480.png)
}
.body{
  text-align: center
}
.title{
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 50px;
}
.text{
  font-size: 14px;
  color: #666;
  line-height: 24px;
  letter-spacing: 2px;
}
.image{
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  width: 870px;
  height: 400px;
}
