.title{
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #dedede
}
.content{
  color: #666;
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px solid #dedede
}
.desc{
  font-size: 13px;
  line-height: 28px;
}
.btn{
  text-align: center;
}
