.tableFilter{
  display: flex;
  background: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
}
.filterItem{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.submitButton{
  margin-left: 15px;
}
.tableContainer{
  background: #fff;
  padding-bottom: 10px;
}
.pagination{
  margin: 20px 0;
  text-align: center;
}
.ballon{
  line-height: 24px;
}
.ballondiv{
  margin: 5px;
}
.circle{
  display: inline-table;;
  background: #28a745;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-right: 4px;
}
.stateText{
  color: #28a745;
}
.editIcon{
  color: #999;
  cursor: pointer;
}
