.inviteInfo {
  display: flex;
  align-items: center;
}

.sentInfo {
  display: flex;
  align-items: center;
}

.avatarWrapper {
  margin-right: 10px;
}

.avatar {
  border-radius: 40px;
  display: block;
}

.statusBtn {
  display: inline-block;
  width: 76px;
  padding: 6;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}