.container {
  padding: 40px 0;
}

.content {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  position: relative;
}

.itemTitle {
  font-size: 12px;
  text-align: center;
  margin: 10px 0 0;
}

.iconImage {
  width: 30px;
  height: 30px;
}

.count {
  color: white;
  background-color: #ff382f;
  border-radius: 50%;
  font-size: 12px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  right: -6px;
  top: -6px;
}
