.row{
  margin-bottom: 20px !important;
}
.label{
  text-align: right !important;
  color: #666 !important;
}
.value{
  padding-left: 10px !important;
  word-break: break-word !important;
  color: #999 !important;
}