.row {
  margin-bottom: 20px !important;
}

.label {
  color: #666 !important;
  text-align: right !important;
}

.value {
  padding-left: 10px !important;
  color: #999 !important;
  word-break: break-word !important;
}
