.dataItem{
  margin: 10px 0;
  padding: 0 30px;
  position: relative;
}
.dataTitle{
  font-weight: bold;
}
.dataIntro{
  margin-top: 10px;
  color: #999;
}
.dataValue{
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 30px;
  color: #3080fe;
}
.dataProgress{
  margin-top: 20px;
}
.dataExtra{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #999;
}
.settingsLink{
  color: #999;
}
.verticalLine{
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 0;
  width: 0;
  border-left: 1px solid #eee;
}
