.formTitle {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.formLabel {
  padding-right: 10px;
  line-height: 1.7rem;
  text-align: center;
}

.formRow {
  margin-bottom: 20px;
}

.formErrorWrapper {
  margin-top: 5px;
}

.inputw {
  width: 300px;
}
