.aside {
  flex: 0 0 auto;
  height: 540px;
  margin: 20px 0 0 20px;

  :global {
    .next-nav {
      box-shadow: none;
    }

    .next-opened {
      color: #333;
      background: transparent !important;
    }

    .ice-menu-collapse-hide {
      padding-left: 1em;
    }
  }
}

.menu {
  width: 240px;
  min-height: 500px;
  padding-top: 20px;
  border-radius: 6px;
}
