.coreDataTitle{
  color: #666;
  font-size: 12px;
}
.coreDataWrapper{
  margin-top:10px;
  display: flex;
}
.coreData{
  margin-right: 50px;
}
.coreDataCount{
  font-size: 30px;
}
.coreDataDesc{
  display: flex;
  align-items: center
}
.indicator1{
  display: inline-block;
  margin-right: 5px;
  height: 3px;
  width: 15px;
  background-color: #00b2f8;
}
.indicator2{
  display: inline-block;
  margin-right: 5px;
  height: 3px;
  width: 15px;
  background-color: #00d18f;
}
.indicator3{
  display: inline-block;
  margin-right: 5px;
  height: 3px;
  width: 15px;
  background-color: #f0f0f0;
}
