.stylescoreDataTitle{
  color: #666;
  font-size: 12px;
}
.stylescoreDataWrapper{
  margin-top:10px;
  display: flex;
}
.stylescoreData{
  margin-right: 50px;
}
.stylescoreDataCount{
  font-size: 30px;
}
.stylescoreDataDesc{
  display: flex;
  align-items: center
}
.stylesindicator{
  display: inline-block;
  margin-right: 5px;
  height: 3px;
  width: 15px;
}
.onecolor{
  background-color: #00b2f8;
}
.twocolor{
  background-color: #00d18f;
}
.threecolor{
  background-color: #f0f0f0;
}
