.searchBar {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  height: 32px;
  line-height: 32px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.actions {
  color: #1890ff;
  font-size: 14px;
}

.info {
  flex: 1;
  font-weight: 400;
}

.button {
  cursor: pointer;
  color: #1890ff;
  margin-right: 5px;
}