.videoList {
    max-height: 500px;
    overflow: auto;
  }
  .videoItem {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .activeVideoItem {
    font-weight: bold;
  }
  .poster {
    margin-right: 8px;
  }
  .videoTitle {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }
  .videoDuration {
    margin-top: 8px;
  }
  .videoWrapper {
    width: 100%;
    height: 420px;
    background: #000;
  }
  .videoWrapperMobile {
    height: 300px;
    margin-bottom: 20px;
  }
  .video {
    width: 100%;
    height: 420px;
  }
  .videoMobile {
    height: 300px;
  }