.stylescontainer{
  height: 100vh;
  padding: 50px 0;
  background: #000;
}
.stylescontent{
  width: 1200px;
  margin: 0 auto;
}
.stylesmainTitle{
  font-size: 60px;
  color: #fff;
  letter-spacing: 0.77px;
  line-height: 72px;
  margin: 0;
  font-weight: 700
}
.stylesmainDesc{
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-top: 8px;
  font-weight: 700
}
.stylestipsList{
  background: #191a1e;
  width: 100%;
  padding: 2px 24px 14px;
  margin: 70px 0 20px;
  overflow: hidden;
}
.stylestipsText{
  float: left;
  margin: 0;
  font-size: 14px;
  color: hsla(0,0%,100%,.7);
  line-height: 28px;
  margin-right: 30px;
  padding-top: 12px;
}
.stylestipsNum{
  font-size: 24px;
  line-height: 24px;
  color:#236cff;
  padding: 0 6px;
}
.stylestipsLink{
  color: hsla(0, 0%, 100%, .7);
}
.stylesitemBox{
  padding: 32px 24px;
  background: #191a1e;
}
.stylesitemTitle{
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
}
.stylesitemTime{
  font-size: 26px;
  color: #fff;
  line-height: 32px;
  white-space: nowrap;
  margin-top: 6px;
  margin-bottom: 17px;
  letter-spacing: 0.72px;
  font-weight: 800;
}
.stylesitemTextList{
  padding-top: 16px;
  border-top: 2px solid #fff;
  height: 118px;
  overflow: hidden;
}
.stylestextList{
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
.stylesitemPriceList{
  margin-top: 24px;
}
.stylespriceList{
  margin-bottom: 8px;
  overflow: hidden;
}
.stylespriceText{
  float: left;
  width: 60%;
  font-size: 12px;
  color: #fff;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
}
.stylesprice{
  font-size: 26px;
  letter-spacing: 0.14px;
  padding-left: 2px;
}
.stylesbtnWrap{
  margin-top: 8px;
  display: block;
  width: 100%;
}
.stylesbuyLink{
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  transition: all .3s;
  text-decoration: none;
  background: #236cff;
}
.saleStyle{
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  transition: all .3s;
  text-decoration: none;
  background: #a1a1a1;
}
