.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #333;
  font-weight: 400;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.intro {
  margin: 0;
  color: #888;
  font-size: 14px;
  line-height: 21px;
}
