.stylescontainer{
height: 316px;
overflow-y: scroll;
}
.stylesuserItem{
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.stylesavatar{
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.stylesuserInfo{
  margin-left: 20px;
}
.stylesuserName{
  margin: 0;
}
.stylesuserPosition{
  margin: 0;
  font-size: 12px;
  color: #666;
}
.stylescreateTime{
  position: absolute;;
  right: 0;
  color: #999;
}
.stylestaskList{
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.stylestaskBody{
  width: 100%;
  padding: 0 10px;
  margin-top: -2px;
}
.stylestaskTitle{
  margin: 0;
}
.stylestaskTime{
  margin: 2px 0;
  font-size: 13px;
  color: #666;
}
.stylestaskTags{
  color: #4AD172;
  font-size: 12px;
  margin-right: 4px;
}
.stylestaskOper{
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #4AD172;
}
