
    .stateText {
      display: inline-block;
      padding: 5px 10px;
      color: #5e83fb;
      background: #fff;
      border: 1px solid #5e83fb;
      border-radius: 4px;
    };
    .separator {
      margin: 0 8px;
      display: inline-block;
      height: 12px;
      vertical-align: middle;
      background: #e8e8e8;
    };
 
  