.wrapper  {
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  padding-bottom: 60px;
};
.titleWrapper {
  margin-top: 60px;
};
.titleLine  {
  width: 140px;
  height: 2px;
  margin-top: 17px;
  background: #EEE;
  border-left: 2px solid #5fb2f8 ;
};
.titleHighlightLine  {
  width: 33px;
  height: 2px;
  background:#3080FE ;
};
.title  {
  color:#223C4E ;
  font-size: 36px;
};
.desc  {
  width: 525px;
  margin-top: 24px;
  color:  #6D7A82 ;
  font-size: 16px;
  line-height: 1.5px;
  text-align: center ;
};
.brandListWrapper  {
  display:  flex ;
  flex-wrap:  wrap ;
  justify-content:space-around ;
  width:  100% ;
  max-width: 1150px;
  margin-top: 75px;
};
.brandItem  {
  display:  flex ;
  align-items:  center ;
  justify-content: center ;
  max-width: 150px;
  max-height: 40px;
  margin-bottom: 60px;
  padding: 0 20px ;
};
.brandImage  {
  width: auto ;
  max-width: 150px;
  height: auto ;
  max-height: 40px;
};
.extraButton  {
  color:#3080FE !important;
  background: transparent ;
  border-color:#3080FE;
};