.stylesrow{
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.stylescard{
  padding: 20px 10px;
}
.stylespaginationContainer{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}
