.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  margin: 20px 0 10px;
  font-weight: bold;
  font-size: 18px;
}

.jobTitle {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
}

.avatar {
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px 0;
}

.socials {
  margin: 20px 0;
}

.icon {
  margin: 0 10px;
}
