.container {
  padding: 50px 0;
  background: #000;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.mainTitle {
  font-size: 60px;
  color: #fff;
  letter-spacing: 0.77px;
  line-height: 72px;
  margin: 0;
  font-weight: 700;
}
.mainDesc {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-top: 8px;
  font-weight: 700;
}
.img {
  margin-top: 70px;
  max-width: 100%;
}
