
    .container {
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      padding: 80px 0;
    }
    .head {
      width: 50%;
      margin: 0 auto;
    }
    .title {
      font-size: 28px;
      text-align: center;
    }
    .intro{
      color: #999;
      text-align: center;
    }
    .items {
      display: flex;
      flex-wrap: wrap;
    }
    .item {
      display: flex;
      width: 50%;
      margin: 40px 0;
      padding: 0 40px;
    }
    .baseInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 25px;
    }
    .name {
      margin: 0 0 10px;
      font-weight: bold;
      font-size: 15px;
    }
    .description {
      margin: 0;
      color: #999;
    }
    .avatar{
      width: 150px;
      height: 150px;
    }
  