.cardTitle {
  height: 16px;
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.item {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.title {
  margin: 0 0 10px;
}

.metaWrap {
  display: flex;
  padding-left: 15px;
}

.meta {
  margin-right: 15px;
  color: #999;
  font-size: 13px;
}

.operWrap {
  position: absolute;
  top: 36px;
  right: 0;
  display: flex;
  cursor: pointer;
}

.oper {
  margin-left: 15px;
  color: #999;
  font-size: 13px;
}

.operIcon {
  margin-right: 8px !important;
}

.pagination {
  margin-top: 20px !important;
  text-align: right !important;
}
