.wrapperContainer{
  position: relative;
  margin-bottom: -400px;
  height: 1150px;
  overflow: hidden;
}
.bgImage2{
  width: 1400px;
  height: 782px;
  border-radius: 391px;
  background: linear-gradient(135deg, rgba(94,136,255,1) 0%,rgba(111,48,254,1) 100%);
  transform: rotate(-45deg);
  box-shadow: 2px 2px 60px rgba(0,0,0,0.06);
  position: absolute;
  left: 35%;
  bottom: 550px;
  z-index: 1;
}
.wrapper{
  height: 750px;
  background-color: #f6f6f6;
  position: relative;
  width: 100%
}
.wrapperBody{
  max-width: 1190px;
  height: 750px;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}
.softwareIntro{
  position: absolute;
  left: 5%;
  padding-top: 230px;
  z-index: 3;
}
.title{
  font-size: 46px;
  color: #fff;
  font-weight: 500;
  line-height: 66px;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
  margin-bottom: 16px;
}
.slogan{
  font-size: 24px;
  color: #fff;
  line-height: 34px;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.softwareDetail{
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.software{
  background-image: url(//img.alicdn.com/tfs/TB1uPagpQyWBuNjy0FpXXassXXa-1446-1148.png);
  width: 723px;
  height: 574px;
  background-size: 723px 574px;
  position: absolute;
  top:100px;
  left: 38%;
}
.separator{
  width: 1px;
  height: 20px;
  background: #fff;
}
.version{
  width: 80px;
  line-height: 20px;
  text-align: center;
}
.history{
  width: 80px;
  line-height: 20px;
  text-align: center;
}
.bgImage{
  position: absolute;
  width: 100%;
  height: 750px;
  background-size: cover;
  background-image: url(//img.alicdn.com/tfs/TB1eoehpKOSBuNjy0FdXXbDnVXa-3798-1500.jpg);
}
.subtitle{
  font-size: 16px;
  font-weight: normal
}
.bgImageMask{
  width: 100%;
  height: 750px;
  background: linear-gradient(135deg, rgba(94,136,255,0.85) 0%,rgba(111,48,254,0.85) 100%)
}
.box{
  margin-left: -45px;
  padding-top: 45px;
  text-align: center
}
.boxspan1{
  margin-left: 5px;
  font-size: 12px
}
.boxspan2{
  display: block
}
.boxspan3{
  display: block;
  font-size: 12px
}
.boxspan4{
  display: block;
  font-size: 12px
}
.box2{
  padding-top: 20px;
  width: 200px;
  text-align: center
}
.box3{
  font-size: 12px;
  color: #fff;
}
.box2a{
  color: #fff;
}
.soana{
  display: 'block'
}
