@charset "UTF-8";

.userForm {
  .nextInput,
  .nextSelect {
    width: 100%;
  }
}

.formTitle {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.formLabel {
  padding-right: 10px;
  line-height: 1.7rem;
  text-align: right;
}

.formRow {
  margin-bottom: 20px;
}

.formErrorWrapper {
  margin-top: 5px;
}
