
.status {
  position: relative;
  padding-left: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 50%;
}
.OrderTrend{
    max-width: 480px;
}
.IceContainer{
    padding: 0px;
}
