
.status {
  position: relative;
  padding-left: 20px;
}

.dot {
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.OrderTrend {
  max-width: 480px;
}

.IceContainer {
  padding: 0;
}
