.ice-layout {
  .ice-layout-aside.custom-aside {
    background: #fff;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

    .custom-menu {
      width: 240px;
      min-height: 100%;
      padding-top: 20px;
      box-shadow: 0 0 8px #eee;

      .next-opened {
        color: #333 !important;
        background: transparent !important;
      }

      i {
        margin-right: 5px !important;
      }
    }
  }
}
