.noticeContainer {
    margin-bottom: 20px;
}

.noticeText {
    padding: 20px;
    color: #F0A400;
    font-size: 14px;
    background: #FFFAEC;
}

.noticeBody {
    display: flex;
    padding: 10px;
    background: #fff;
}

.noticeContent {
    margin-left: 15px;
}

.noticeItems {
    display: flex;
}

.noticeItem {
    margin-right: 25px;
}

.noticeImg {
    width: 106px;
    height: 60px;
}

.noticeTitle {
    margin: 8px 0;
}

.label {
    color: #999;
    font-size: 12px;
}

.value {
    color: #333;
    font-size: 12px;
}

.count {
    margin: 0 2px;
    color: #FF5D38;
    font-size: 13px;
}

.link {
    position: absolute;
    right: 20px;
    color: #FF5D38;
    font-size: 14px;
}

.arrowIcon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}