
    .formItem {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
    }
    .formLabel {
      font-weight: 450;
      width: 80px;
    }
    .formError{
      margin-top: 10px;
    }
    .button {
      margin-left: 100px;
    }
    .iceContainer{
        padding: 40px;

    }
    .newInput{
        width: 400px;
    }
