.ice-form {
  .ice-field {
    float: left;
    width: 30%;
    height: 40px;
  }
  .field-wrapper {
    overflow: hidden;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .btn {
    margin-top: 20px;
  }
}
