.ice-inline-form {
  .field-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .ice-field {
    width: 50%;
    height: 40px;
  }
  .field-wrapper {
    overflow: hidden;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .btn {
    margin-top: 20px;
  }
}
