.items{
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.item{
  padding:0 20px;
}
.description{
  line-height: 28px;
  color: #999;
}
.infoBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.avatar{
  width: 64px;
  height: 64px;
}
.name{
  margin: 10px 0 0;
  font-size: 15px;
  font-weight: bold;
}
.company{
  margin: 0;
}
