.titleWrapper{
   background-color: #fff;
   height: 54px;
   line-height: 54px;
   padding: 0 16px;
}
.navItemWraper{
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 60px;
}
.postCategoryList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.postCategoryItem{
  width: 49%;
  flex:0 0 49%;
  box-sizing: border-box;
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.coverWrapper{
  padding-right: 14px
}
.blockDetail{
  position: relative;
}
.blockTitle{
  font-size: 16px;
  padding: 6px 0;
}
.blockItem{
  display: flex;
}
.blockLable{
  flex: 0 0 60px;
  font-size: 12px;
  line-height: 22px
}
.blockDesc{
  font-size: 12px;
  color: #999;
  line-height: 22px;
}
.blockBtn{
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;
  background: #6af;
  color: #fff;
}
.fbxp{
  font-size: 16px;
  color: #333;
  padding-right: 10px
}
.nrfx{
  font-size: 12px;
  color: #999;
}
.imgas{
  width: 30px;
  margin-right: 8px
}
.imgbs{
  width: 140px;
  display: block
}
