
    .container {
      padding: 40px 20px 60px;
      text-align: center;
    }
    .cardTitle {
      margin: 0 0 20px;
      font-size: 18px;
      padding-bottom: 15px;
      font-weight: bold;
      text-align: center;
    }
    .brandLink {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 34px;
    }
    .brandContent {
      width: 70%;
      margin: 0 auto;
    }
    .brandLogo {
      width: 80px;
    }
  
  