.filterTableOperation{
  line-height: 28px;
};
.operationItem{
  margin-right: 12px;
  color: #5485F7;
  text-decoration: none;
};
.titleWrapper{
  display: flex;
  flex-direction: row;
};
.title{
  margin-left: 10px;
  line-height: 20px;
};
.paginationWrapper{
  padding-top: 26px;
  text-align: right;
};

/* Filter.jsx */
.filterCol{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
};

.filterTitle{
  width: 68px;
  margin-right: 12px;
  font-size: 14px;
  text-align: right;
};

.filterTool{
  width: 200px;
};