.form {
  margin: 20px 0;
}
.fieldWrap {
  display: flex;
}
.field {
  flex-basis: 30%;
}
.tableContainer{
  padding-bottom: 10px;
  background: #fff;
}
.pagination{
  margin: 20px 0;
  text-align: center;
}
.ballon{
  line-height: 24px;
}
.ballondiv{
  margin: 5px;
}
.circle{
  display: inline-table;
  width: 8px;
  height: 8px;
  margin-right: 4px;;
  background: #28a745;
  border-radius: 50px;
}
.stateText{
  color: #28a745;
}
