.items{
  display: flex;
  flex-wrap: wrap;
};
.item{
  width: 33.3333%;
  margin: 5px 0;
  text-align: center;
};
.count{
  margin: 12px 0;
  color: #15A0FF;
  font-weight: bold;
  font-size: 32px;
};
.title{
  color: #999;
};
.splitLine{
  display: block;
  width: 24px;
  height: 1px;
  margin: 0 auto;
  background: #9B9B9B;
};