
    .container {
      padding: 0;
    }
    cardTitle {
      padding: 20px;
      opacity: 0.8;
      font-size: 16px;
      color: #000;
      line-height: 16px;
    }
    .body {
      display: flex;
      margin-bottom: 20px;
      padding: 20px;
    }
    .cell {
      width: 50%;
    }
    .cellName {
      color: #666;
      font-size: 14px;
      line-height: 14px;
    }
    .cellValue {
      font-size: 40px;
      font-weight: 500;
      height: 40px;
      line-height: 40px;
      margin: 15px 0;
    }
    .ratioLabel {
      margin-right: 20px;
    }
    .yellow {
      color: #ff9600;
    }
    .green {
      color: #0da32e;
    }
    .black {
      color: #000;
    }
    .grey {
      color: #808080;
    }
    .footer {
      padding: 10px 20px;
      background: #f1f7fe;
      display: flex;
      justify-content: space-between;
    }
    .item {
      display: flex;
      line-height: 30px;
      font-size: 12px;
    }
    .itemLabel{
      color: rgba(0,0,0,0.4);
    }
    .itemValue {
      color: rgba(0,0,0,0.8);
    }

  