.container{
  padding: 0 0 20px;
}
.title{
  margin: 0;
  padding: 15px 20px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0,0,0,.85);
  font-weight: 500;
  border-bottom: 1px solid #eee;
}
.link{
  margin: 0 5px;
  color: rgba(49, 128, 253, 0.65);
  cursor: pointer;
  text-decoration: none
}
.separator{
  margin: 0 8px;
  display: inline-block;
  height: 12px;
  width: 1px;
  vertical-align: middle;
  background: #8e8e8e;
}
.pagination{
  text-align: right
}
.table{
  padding:0 20px 20px
}
.formRow{
  padding: 10px 20px;
}
.formItem{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.formItem{
  min-width: 70px
}
