.container {
    padding-bottom: 0;
}

.subForm {
    margin-bottom: 20px;
}

.formTitle {
    margin: 0 0 20px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.formItem {
    height: 28px;
    line-height: 28px;
    margin-bottom: 25px;
}

.formLabel {
    text-align: right;
}

.btns {
    margin: 25px 0;
}

.resetBtn {
    margin-left: 20px;
}