.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -88px;
  padding-bottom: 60px;
  overflow: hidden;
}

.titleWrapper {
  margin-top: 60px;
}

.titleLine {
  width: 140px;
  height: 2px;
  margin-top: 17px;
  background: #eee;
}

.titleHighlightLine {
  width: 33px;
  height: 2px;
  background: $color-brand1-6;
}

.title {
  color: #223c4e;
  font-size: 36px;
}

.desc {
  width: 525px;
  margin-top: 24px;
  color: #6d7a82;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.brandListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1150px;
  margin-top: 75px;
}

.brandItem {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  max-height: 40px;
  margin-bottom: 60px;
  padding: 0 20px;
}

.brandImage {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 40px;
}

.extraButton {
  color: $color-brand1-6;
  background: transparent;
  border-color: $color-brand1-6;
}
