.filterCol{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.filterTitle{
  width: 68px;
  text-align: center;
  margin-right: 12px;
  font-size: 14px;
}
.filterTool{
  width: 200px;
}
.div{
  text-align: left;
  margin-left: 12px;
}
.btn{
  margin-left: 10px;
}
