.wrapper{
  height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/TB1Iw2ZRVXXXXb4aFXXXXXXXXXX-2760-1544.png)
}
.titleWrapper{
  text-align: center;
  padding-top: 200px;
}
.title{
  font-size: 32px;
  color: #333;
  letter-spacing: 1.94px;
  line-height: 48px;
  text-align: center
}
.buttons{
  text-align: center;
  margin-top: 60px;
}
.wrapper
.primaryButton{
  height: 50px;
  font-size: 16px;
  padding: 0 58px;
  line-height: 50px;
  color: #fff;
}
.wrapper
.secondaryButton{
  height: 50px;
  font-size: 16px;
  padding: 0 58px;
  line-height: 50px;
  margin-right: 20px;
  background-color: transparent;
  border-color: #5485f7 ;
  color: #5485f7 !important;
}
