.container {
    margin: 20px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0,.85);
  }
  .summary {
    margin: 0 0 20px;
  }
  .formItem {
    margin-bottom: 20px;
  }
  .formLabel {
    margin-bottom: 10px;
  }
  .formError {
    margin-top: 10px;
  }
 
  .title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0,.85);
  }
  .button {
    margin-left: 20px;
  }
  .box{width: 300px;}
  .add{width: 300px;}
  .text{width: 300px;}