
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 368px;
  margin: 0 auto;

  .formItems {
    padding-bottom: 40px;
  }

  .formItem {
    position: relative;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .formItemCol {
    position: relative;
    margin-bottom: 5px;
  }

  .formTitle {
    margin: 0;
    padding: 40px 0;
    color: transparentize($color-black, 0.2);
    font-weight: 500;
    font-size: 33px;
    text-align: center;
  }

  .inputIcon {
    position: absolute;
    top: 50%;
    left: 12px;
    color: $color-text1-2;
    transform: translateY(-50%);
  }

  .submitBtn {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    background: $color-brand1-6;
    border-radius: 4px;
  }

  .checkbox {
    margin-left: 5px;
  }

  .account {
    margin: 4px 0;
    text-align: center;
  }

  .tips {
    justify-content: center;
  }

  .tipsText {
    color: $color-text1-2;
    font-size: 13px;
    text-decoration: none;
  }

  .line {
    margin: 0 8px;
    color: $color-line1-2;
  }

  .nextInputSingle {
    width: 368px;
    height: 38px;
    line-height: 38px;

    input {
      padding-left: 32px;
      font-size: 13px;
    }
  }

  :global {
    .next-checkbox-label {
      color: $color-text1-2;
      font-size: 13px;
    }
  }
}
