.iceLayoutFooter {
  background-color: transparent;
}

.iceLayoutFooterBody {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: $color-text1-3;
  line-height: 1.5;
  font-size: 12px;
  text-align: left;
}

.copyrightLink {
  color: $color-text1-3;
}
