.container {
  padding: 50px 0;
  background: #000;
}

.content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.mainTitle {
  font-size: 60px;
  color: #fff;
  letter-spacing: 0.77px;
  line-height: 72px;
  margin: 0;
  font-weight: 700;
}

.mainDesc {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-top: 8px;
  font-weight: 700;
}

.img {
  margin-top: 70px;
  max-width: 100%;
}

.tab {
  position: absolute;
  right: 10px;
  top: 66px;
  overflow: hidden;
}

.first {
  margin-top: 0;
  float: left;
  cursor: pointer;
  font-size: 26px;
  line-height: 30px;
  color: hsla(0, 0%, 100%, .5);
  margin-left: 30px;
  padding: 14px 0;
  border-bottom: 1px solid transparent;
  transition: all .3s;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.tabName {
  float: left;
  cursor: pointer;
  font-size: 26px;
  line-height: 30px;
  color: hsla(0, 0%, 100%, .5);
  margin-left: 30px;
  padding: 14px 0;
  border-bottom: 1px solid transparent;
  transition: all .3s;
}

.items {
  overflow: hidden;
  padding-top: 50px;
}

.tabList {
  height: 80px;
  background: #191a1e;
  position: relative;
  padding-right: 40px;
  margin-top: 20px;
  transition: all .3s;
}

.middle {
  padding-left: 335px;
  padding-right: 180px;
  height: 80px;
  overflow: hidden;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  overflow: hidden;
}

.num {
  float: left;
  font-size: 42px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #236cff;
}

.title {
  float: left;
  max-width: 255px;
  font-size: 20px;
  line-height: 80px;
  color: #fff;
  padding-left: 40px;
  white-space: nowrap;
  overflow: hidden;
}

.desc {
  font-size: 14px;
  line-height: 24px;
  color: hsla(0, 0%, 100%, .8);
  margin-top: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnBox {
  position: absolute;
  right: 40px;
  top: 20px;
}

.btnLink {
  display: inline-block;
  width: 160px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: all .3s;
}