.container {
  padding: 50px 0;
  background: #000;
}

.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.mainTitle {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.77px;
}

.mainDesc {
  margin-top: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.img {
  max-width: 100%;
  margin-top: 70px;
}

.tab {
  position: absolute;
  top: 66px;
  right: 10px;
  overflow: hidden;
}

.first {
  float: left;
  margin-top: 0;
  margin-left: 30px;
  padding: 14px 0;
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.tabName {
  float: left;
  margin-left: 30px;
  padding: 14px 0;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 26px;
  line-height: 30px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.items {
  padding-top: 50px;
  overflow: hidden;
}

.tabList {
  position: relative;
  height: 80px;
  margin-top: 20px;
  padding-right: 40px;
  background: #191a1e;
  transition: all 0.3s;
}

.middle {
  height: 80px;
  padding-right: 180px;
  padding-left: 335px;
  overflow: hidden;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  overflow: hidden;
}

.num {
  float: left;
  width: 80px;
  height: 80px;
  color: #fff;
  font-weight: 700;
  font-size: 42px;
  line-height: 80px;
  text-align: center;
  background: #236cff;
}

.title {
  float: left;
  max-width: 255px;
  padding-left: 40px;
  overflow: hidden;
  color: #fff;
  font-size: 20px;
  line-height: 80px;
  white-space: nowrap;
}

.desc {
  margin-top: 28px;
  overflow: hidden;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btnBox {
  position: absolute;
  top: 20px;
  right: 40px;
}

.btnLink {
  display: inline-block;
  width: 160px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  transition: all 0.3s;
}
