
    .container {
      position: relative;
      width: 100wh;
      min-width: 1200px;
      height: 100vh;
      background-image:
        url(https://img.alicdn.com/tfs/TB1VnKECirpK1RjSZFhXXXSdXXa-5000-3333.jpg);
      // https://img.alicdn.com/tfs/TB1J4eICkvoK1RjSZFDXXXY3pXa-5193-3462.jpg
      background-size: cover;
      display: flex;
      flex-direction: column;
    }
    .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.3);
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
    .form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  