.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding:80px 0;
}
.content{
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.col{
  width: 48%;
  padding: 0 1%;
}
.title{
  font-weight: bold;
  font-size: 28px;
}
.description{
  color: #999;
  line-height: 22px;
}
.image{
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}
