.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
  line-height: 36px;
  text-align: center;
}

.logo {
  opacity: 0.3;
  filter: grayscale(100%);
}

.btitle {
  color: #999;
  font-size: 12px;
  line-height: 1.5;
  text-align: right;
}
