.formTitle {
    margin: 0 0 20px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }
  .formItem{
    height: 28px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .formLabel {
    text-align: right;
  }
 .btns {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .container{
    padding-bottom: 0;
  }
  .step {
    margin-bottom: 20px;
  }
  .content {
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .icon {
    color: #1DC11D;
    margin-right: 10px;
  }
  .formTitle {
    margin: 0 0 20px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }
  .formItem {
    height: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .formLabel {
    text-align: right;
  }
  .btns {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .babyTltle{
     width: 100%; 
  }
  .goodsTypoe{
      width: 30%;
  }
  .describle{
      width: 100%;
  }