.formTitle {
  margin: 0 0 20px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.formItem{
  height: 28px;
  margin-bottom: 30px;
  line-height: 28px;
}
.formLabel {
  text-align: right;
}
.btns {
  margin-top: 25px;
  margin-bottom: 25px;
}
.container{
  padding-bottom: 0;
}
.step {
  margin-bottom: 20px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.icon {
  margin-right: 10px;
  color: #1DC11D;
}
.babyTltle {
  width: 100%; 
}
.goodsTypoe {
  width: 30%;
}
.describle {
  width: 100%;
}
