:global {
  .fusion-shell-aside.fusion-shell-navigation.fusion-shell-collapse.fusion-shell-mini {
    width: 60px;
  }
}

.asideNav {
  background-color: transparent;

  :global {
    .next-icestark-menu-item.next-icestark-nav-item {
      color: #fff;
      font-weight: 400;
      background-color: transparent;

      a {
        &:link,
        &:visited,
        &:hover,
        &:active {
          color: #fff;
        }
      }

      &.next-icestark-selected:not(.next-icestark-disabled).next-icestark-focused:hover,
      &.next-icestark-selected:not(.next-icestark-disabled):hover {
        background-color: #333;
      }

      &.next-icestark-selected .next-icestark-menu-item-inner .next-icestark-menu-item-text {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
