.item {
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
}

.title {
    position: relative;
    margin-bottom: 10px;
    color: #444;
    font-size: 14px;
}

.datetime {
    position: absolute;
    right: 10px;
    padding-top: 10px;
    color: #999;
    font-size: 12px;
}

.message {
    margin-bottom: 10px;
    color: #999;
    font-size: 12px;
}

.paginationWarp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}