.guest-slider {
    position: relative;
    margin: 260px auto 0;
    text-align: center;
    .slick-center {
        img {
            position: relative;
            opacity: 1;
            transform: scale(1.2);
            z-index: 10;
        }
    }
    .slick-list {
        overflow: initial;
    }
    .slick-prev {
        left: 10px;
        z-index: 9;
    }
    .slick-next {
        right: 10px;
        z-index: 9;
    }
}

.container {
    width: 100%;
    height: 800px;
    background: #000 url(https://img.alicdn.com/tfs/TB1Cf27AKSSBuNjy0FlXXbBpVXa-1904-800.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.item {
    float: left;
    display: inline-block;
}

.itemBox {
    position: relative;
}

.info {
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: 5%;
    text-align: left;
    overflow: hidden;
}

.name {
    margin: 0;
    color: #fff;
    line-height: 26px;
    font-size: 18px;
}

.job {
    color: #fff;
    line-height: 16px;
    font-size: 12px;
}

.img {
    max-width: 98%;
    display: inline-block;
    width: 100%;
    transition: all 0.3s ease-in-out;
}