.container {
  margin: 20px;
}

.title {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
}

.summary {
  margin: 0 0 20px;
}

.formItem {
  margin-bottom: 20px;
}

.formLabel {
  margin-bottom: 10px;
}

.formError {
  margin-top: 10px;
}
