
.container {
  padding: 0;
}

.content {
  border-right: 1px solid #f0f0f0;
  padding: 20px;
}

.head {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  margin: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.summary {
  display: flex;
  margin-left: 20px;
  font-size: 13px;
}

.item {
  margin-right: 15px;
}

.itemLabel {
  color: #999;
  margin-right: 6px;
}

.itemValue {
  color: #447eff;
}

.subTitle {
  margin: 0;
  padding: 20px 20px 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}

.table {
  margin: 0 10px;
}

.footer {
  height: 40px;
  padding: 0 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.link {
  color: #447eff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-size: 13px;
}
