.container { 
    display: flex; 
}
.avatarWrapper {
  position: relative;
  width: 64px;
  height: 65px;
  // filter: drop-shadow(0 0 2px rgba(0;0;0;0.3));
}
.avatar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.level {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 22px;
  height: 22px;
}
.userInfo {
  flex: auto;
  margin-left: 20px;
  color: #999;
}
.userDetail {
  display: flex;
  align-items: center;
  height: 24px;
}
.userName {
  display: inline-block;
  max-width: 200;
  margin-right: 5;
  overflow: hidden;
  color: #666;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.userLabel {
  height: 16;
  margin-left: 10px;
  padding: 0 5px;
  color: rgb(255,44,84);
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  background-color: rgb(255,242,244);
  border-radius: 2px;
}
.userOther {
  font-size: 12;
  line-height: 20px;
}
.userLevelWrapper {
  position: relative;
  display: flex;
}
.userlevelItem {
  position: relative;
  margin-left: 14px;
  padding: 2px 6px;
background-color: #fff;
  border: 1px solid rgb(255,44,84);
  border-radius: 12px;
}
.userLevelLight {
  position: absolute;
  top: 30px;
  left: -12px;
  width: 48px;
  color: rgb(255, 44, 84);
  font-size: 12px;
}
.userLevelLine {
  position: absolute;
  top: 11px;
  right: 0;
  left: 0;
  z-index: 0;
  height: 2px;
  background-color: rgb(255,44,84);
}
.levelMarginLeftOne{
    margin-left: 0;
}
.levelMarginLeftTwo{
    margin-left: 14px;
}
.levelBackgroundOne{
    color:#fff;
    background-color: rgb(255, 44, 84)
}
.levelBackgroundTwo{
    color:#666;
    background-color:#fff
}
