.icon {
  width: 52px;
  height: 52px;
  margin-top: 26px;
  margin-bottom: 10px;
};
.dialogContent {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
};
.text {
  font-size: 16px;
};
