.container {
    background: #000;
    padding-top: 50px;
}

.content {
    min-height: 466px;
    position: relative;
    overflow: hidden;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7));
    background: rgba(0, 0, 0, .4);
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity 1s;
}

.introContainer {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.introContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 466px;
    position: relative;
    z-index: 2;
}

.title {
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 44px;
    color: #fff;
    font-weight: 700;
}

.desc {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    letter-spacing: 30px;
    margin-top: 8px;
    position: relative;
    text-align: center;
}