.container{
  padding: 80px 40px !important;
  text-align: center !important;
};
.img{
  width: 58px !important;
  height: 58px !important;
};
.title{
  margin: 20px 0;
  font-size: 22px;
  font-weight: normal;
};
.summary{
  margin: 0;
  font-size: 14px;
  color: #666;
};
.descrpiton{
  margin: 10px 0 0;
  font-size: 14px;
  color: #666;
};
.step{
  margin: 80px 0;
};