.container {
  padding: 80px 0;
  background: #f6f7f9;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.item {
  padding: 10px 20px;
  text-align: center;
}

.pic {
  width: 80px;
  margin-bottom: 30px;
}

.title {
  font-weight: bold;
}

.desc {
  color: #999;
  line-height: 22px;
}
