.container{
  padding: 80px 0;
  background: #F6F7F9;
}
.content{
  width: 1200px;
  margin: 0 auto;
}
.item{
  text-align: center;
  padding: 10px 20px;
}
.pic{
  width: 80px;
  margin-bottom: 30px;
}
.title{
  font-weight: bold
}
.desc{
  line-height: 22px;
  color: #999
}
