.wrapperContainer{
   position: relative;
   height: 500px;
   background-color: #f6f6f6;
   background-image: url(//img.alicdn.com/tfs/TB1_E.OpuuSBuNjy1XcXXcYjFXa-3800-1000.png);
   background-size: cover;
}
.wrapper{
  position: relative;
  height: 500px;
  max-width: 1190px;
  margin:0 auto;
  overflow: hidden;
}
.feature{
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 30px;
  background-image: url(//img.alicdn.com/tfs/TB1A5MNpuuSBuNjy1XcXXcYjFXa-66-66.png);
  background-repeat: no-repeat;
  background-position: 10px 120px;
  z-index: 2;;
  top: 0;
  right: 70%;
  position: absolute;
}
.line{
  height: 2px;
  width: 140px;
  background-color: rgba(255,255,255,0.4);
  margin: 20px 0;
}
.lineHeader{
  height: 2px;
  width: 33px;
  background-color: #fff;
}
.title{
  color: #fff;
  font-size: 36px;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.desc{
  font-size: 16px;
  color: #fff;
  max-width: 280px;
  line-height: 26px;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.cover{
  position: absolute;
  left: 28%;
  bottom: 0;
  z-index: 1;
  height: 546px;
  margin-top: -46px
}
.coverImage{
  max-height: 546px;
  display: block;
}
