.baseinfotable {
  width: 100%;

  tr {
    border: 1px solid #eee;

    &:nth-child(2n) {
      background: #fbfbfb;
    }

    td {
      padding: 10px 20px;
      border-right: 1px solid #eee;

      &:nth-child(2n-1) {
        font-weight: 500;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.title {
  margin: 0;
  padding: 15px 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}

.icediv {
  padding: 20px;
}
