.card {
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid rgb(235, 235, 235);
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.appid {
  margin: 0;
  color: #999;
}

.settingIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.pictureIcon {
  margin-bottom: 20px;
}

.footer {
  padding: 20px;
}

.title {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
}

.desc {
  margin-top: 6px;
  margin-bottom: 10px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.427);
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
