.headerContainer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $nav-primary-bg-color;
  min-width: 1200px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.headerContent {
  width: 100%;
  height: 62px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNavbar {
  display: flex;
  flex-direction: row;

  .iceMenuItemText {
    padding-left: 1em;
  }

  :global {
    .next-menu {
      background: transparent;
      color: #fff;
      box-shadow: none;
      .next-menu-item {
        font-size: 14px;
        &:hover,
        a:hover {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

.userAvatar {
  margin-right: 12px;
  border-radius: 4px;
}

.userDepartment {
  font-size: 12px;
  color: #fff;
}

.userProfile {
  display: inline-block;
  text-align: center;
  margin-bottom: 2px;
  color: #fff;
}

.iceHeaderUserpannel {
  margin-left: 20px;
  cursor: pointer;
  .iconDown {
    margin-left: 2px;
    color: #fff;
  }
}

.userProfileMenu {
  width: 130px;
  border-radius: 6px;
  padding: 0 16px;
}

.userProfileMenuItem {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  a {
    color: #666;
    &:hover {
      color: #1890ff;
    }
  }
  i {
    margin-right: 5px;
  }
}
