.container {
  margin: 20px;
  padding: 0;
}

.title {
  margin: 0;
  padding: 20px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #eee;
}

.formRow {
  padding: 10px 20px;
}

.formItem {
  margin: 10px 0;
}
