.headercontainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;

  .headercontent {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headernavbar {
    display: flex;
    flex-direction: row;

    .headermenuitem {
      margin-left: 60px;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
