.stylescontainer{
  background: #fff;
}
.stylescontent{
  width: 1200px;
  margin: 0 auto;
}
.stylesbigTitle{
  padding-top: 30px;
  font-size: 60px;
  color: #333;
  letter-spacing: 0.77px;
}
.stylessubTitle{
  font-size: 24px;
  color: #333;
  text-align: left;
  line-height: 30px;
  margin-top: 58px;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}
.stylespartnerBox{
  margin-top: 60px
}
.stylespartnerItem{
  margin-bottom: 60px;
}
.stylespartnerTitle{
  font-weight: 700;
  font-size: 20px;
  color: #333;
  letter-spacing:0.25px;
  line-height: 24px;
  margin-bottom: 40px;
}
.styleslogo{
  max-width: 100%;
  margin-bottom: 20px;
  display: block;
}
