.container{
  background: #fff;
}
.content{
  width: 1200px;
  margin: 0 auto;
}
.bigTitle{
  padding-top: 30px;
  color: #333;
  font-size: 60px;
  letter-spacing: 0.77px;
}
.subTitle{
  margin-top: 58px;
  padding-bottom: 30px;
  color: #333;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid #333;
}
.partnerBox{
  margin-top: 60px
}
.partnerItem{
  margin-bottom: 60px;
}
.partnerTitle{
  margin-bottom: 40px;
  color: #333;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:0.25px;
}
.logo{
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}
