@charset "UTF-8";

.userLayout {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  padding-top: 100px;
  background-image: url(https://img.alicdn.com/tfs/TB1nTrMt4TpK1RjSZFKXXa2wXXa-1434-954.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
  .userContent {
    position: absolute;
    width: 450px;
    background: $color-white;
    border-radius: 5px;
  }
  .layerMask {
    background: transparentize($color-black, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
