.stylescontainer{
  // background:url('./images/TB1JGoDi3vD8KJjy0FlXXagBFXa-5040-2811.png');
  border-radius: 0;
  width: 100%;
  padding: 80px 0;
}
.stylescontent{
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
.stylesitem{
  margin-bottom: 20px;
  padding: 20px 30px 60px;
  background: #fff;
  border-radius: 6px;
}
.stylesinfoBox{
  display: flex
}
.stylesavatar{
  width: 64px;
  height: 64px;
}
.stylesbaseInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.stylesname{
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}
.stylescompany{
  margin: 0;
}
.stylesdescription{
  line-height: 28px;
}
