.summary {
  display: inline-block;
  float: left;
  margin-right: 100px;
}

.num {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 64px;
  line-height: 56px;
}

.title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
}

.subtitle {
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
