.customVideoCard {
  background: #fff;
  padding: 20px 30px;
  text-align: center;
};
.customVideoIntro {
  padding-bottom: 26px;
  border-bottom: 1px solid #E8E8E8;
};
.customVideoTitle {
  padding: 0 0 20px;
  margin: 0 0 20px;
  font-size: 22px;
};
.introItem {};
.introItemTitle {
  margin: 12px 0 0;
  line-height: 40px;
  font-size: 18px;
};
.introItemDesc {
  line-height: 20px;
  color: #999;
  font-size: 14px;
};
.customVideoSteps {
  margin: 20px 0 0;
  padding: 0 0 20px;
};
.customStepsTitle {
  padding: 10px 0 20px;
  margin: 0 0 10px;
  font-size: 22px;
};
.customBtn {
  display: inline-block;
  background: #FF5D38;
  border-radius: 2px;
  width: 168px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
};
.imgWidthOne{
  width: 532px;
}
.imgWidthTwo{
  width: 56px;
  height: 59px;
}
.imgWidthThree{
  width: 52px;
  height:52px;
}
.imgWidthFour{
  width: 60px;
  height: 57px;
}
