.customVideoCard {
  padding: 20px 30px;
  text-align: center;
  background: #fff;
}
.customVideoIntro {
  padding-bottom: 26px;
  border-bottom: 1px solid #E8E8E8;
}
.customVideoTitle {
  margin: 0 0 20px;
  padding: 0 0 20px;
  font-size: 22px;
}
.introItemTitle {
  margin: 12px 0 0;
  font-size: 18px;
  line-height: 40px;
}
.introItemDesc {
  color: #999;
  font-size: 14px;
  line-height: 20px;
}
.customVideoSteps {
  margin: 20px 0 0;
  padding: 0 0 20px;
}
.customStepsTitle {
  margin: 0 0 10px;
  padding: 10px 0 20px;
  font-size: 22px;
}
.customBtn {
  display: inline-block;
  width: 168px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #FF5D38;
  border-radius: 2px;
  cursor: pointer;
}
.imgWidthOne {
  width: 532px;
}
.imgWidthTwo {
  width: 56px;
  height: 59px;
}
.imgWidthThree {
  width: 52px;
  height:52px;
}
.imgWidthFour {
  width: 60px;
  height: 57px;
}
