.container {
  padding: 0 !important;
};
.titleContainer {
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(240, 240, 240);
};
.title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
};
.content {
  padding: 15px;
};
.table {
  margin: 20px;
};
.searchBox {
  display: flex;
  justify-content: flex-end;
};
.pagination {
  margin: 20px;
  text-align: right;
};
