.container {
  padding: 0 !important;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
}

.content {
  padding: 15px;
}

.table {
  margin: 20px;
}

.searchBox {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  margin: 20px;
  text-align: right;
}
