.container {
  width: 100%;
  height: 418px;
  background: url(https://img.alicdn.com/tfs/TB1Q7YOdMHqK1RjSZFgXXa7JXXa-2868-912.png);
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 24px;
  color: #fff;
  font-weight: 500;
  font-size: 52px;
}

.desc {
  margin-bottom: 24px;
  color: #fff;
  font-size: 28px;
}

.link {
  width: 124px;
  height: 40px;
  padding: 0 16px;
  color: rgba(31, 56, 88, 0.6);
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 18px;
  cursor: pointer;
}
