.bt1px {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.6px;
    background: #fff;
    opacity: 0.5;
    content: '';
  }
}

.scenarioColumn {
  padding-top: 43px;
  text-align: center;
  background: #f5f9fe;

  * {
    margin: 0;
    padding: 0;
  }

  h3 {
    margin-bottom: 12px;
    color: #999;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
  }
}

.scenarioSlider {
  position: relative;
  display: inline-block;

  .scenarioItem {
    float: left;
    width: 112px;
    height: 158px;
    margin: 0 9px;
    font-size: 0;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;

    > img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 15px 0;
    }

    > h4 {
      color: #373737;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
    }

    > p {
      margin-top: 5px;
      color: #999;
      font-size: 12px;
      line-height: 15px;
    }

    img.selected {
      display: none;
    }

    &.selected {
      background: #108ee9;
      box-shadow: 0 40px 50px 0 rgba(16, 142, 233, 0.15);

      > img {
        display: none;
      }

      img.selected {
        display: inline-block;
      }

      > h4 {
        color: #fff;
      }

      > p {
        color: #fff;
        opacity: 0.8;
      }
    }
  }
}

.scenarioDetailList {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  margin-top: 17px;
  text-align: left;

  &::before {
    background: #979797;
  }

  .scenarioDetailItem {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    padding-top: 78px;

    &.selected {
      display: block;
    }

    .scenarioDetailLeft {
      width: 570px;
      padding-bottom: 12px;
      padding-left: 13px;

      > h4 {
        margin-bottom: 16px;
        color: #333;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        vertical-align: bottom;
      }

      > p {
        max-width: 434px;
        color: #333;
        font-size: 12px;
        line-height: 22px;
      }

      .scenarioAbilityList {
        li {
          list-style: none;
        }

        .abilityTitle {
          margin-top: 22px;
          margin-bottom: 12px;
          color: #999;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }

        .abilityRealRow {
          display: table;
        }

        .abilityDesc {
          max-width: 434px;
          color: #333;
          font-size: 12px;
          line-height: 25px;
        }

        .circleItem {
          position: relative;
          display: table-cell;
          box-sizing: border-box;
          width: 68px;
          height: 69px;
          padding: 0 10px;
          color: #666;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          vertical-align: middle;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 65px;
            height: 65px;
            background: #999;
            border-radius: 50%;
            opacity: 0.1;
            content: '';
          }

          &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 65px;
            height: 65px;
            border: 0.6px solid #999;
            border-radius: 50%;
            opacity: 0.1;
            content: '';
          }

          &.blueCircle {
            color: #108ee9;

            &::before {
              background: #108ee9;
            }

            &::after {
              border-color: #108ee9;
            }
          }
        }

        .circleItemSpacing {
          display: table-cell;
          width: 14px;
          font-size: 0;
        }
      }
    }

    .scenarioDetailRight {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 570px;
      width: 720px;
      overflow: hidden;

      > img {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

.scenarioActions {
  display: none;
  text-align: center;
  background: #ecf3fd;

  &.selected {
    display: block;
  }

  .scenarioAction {
    display: inline-block;
    margin: 30px 7px;
    padding: 12px 56px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    border: 1px solid #108ee9;
    border-radius: 5px;

    &.primary {
      color: #fff;
      background: #108ee9;
    }

    &.secondary {
      padding: 12px 45px;
      color: #108ee9;
    }
  }
}
