.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
};
.head{
  width: 80%;
  max-width: 540px;
  margin: 0 auto;
};
.title{
  text-align: center;
  font-size: 28px;
};
.intro{
  text-align: center;
  color: #999;
};
.items{
  margin: 30px 0;
};
.item{
  margin: 10px 0;
  text-align: center;
};
.image{
  width: 100px;
  height: 80px;
};