.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
};
.overviewItem{
  flex: 0 0 25%;
  display: flex;
  padding: 10px 0;
};
.overviewItemTitle{
  font-size: 12px;
  line-height: 20px;
  color: #999;
};
.overviewItemTotal{
  font-size: 24px;
  line-height: 30px;
  color: #333;
};
.sy{
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.width{
  width: 70px;
}