.footer {
  width: 100%;
  padding: 20px 0;
}
.body {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  color: #666;
  line-height: 1.5;
  font-size: 12px;
  text-align: left;
}
.copyrightLink {
  color: #666;
  &:hover {
    text-decoration: none;
  }
}
.logo {
  filter: grayscale(100%);
  opacity: 0.3;
}