.footer {
  display: flex;
  width: 100%;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  color: #666;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}
.copyrightLink {
  color: #666;
  &:hover {
    text-decoration: none;
  }
}
.logo {
  opacity: 0.3;
  filter: grayscale(100%);
}
