.container {
    background: #000;
    height: 100vh;
}

.content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-top: 180px;
}

.itemLink {
    display: block;
    margin-bottom: 50px;
}

.itemLogo {
    max-width: 180px;
}