.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 80px;
};
.items{
  display: flex;
  flex-wrap: wrap;
};
.item{
  margin: 40px 0;
  padding: 0 30px;
  text-align: center;
};
.title{
  font-weight: bold;
  font-size: 20px;
};
.image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
};
.description{
  color: #999;
  font-size: 13px;
  line-height: 22px;
};