.header{
  font-size: 16px;
}
.titles{
  margin: 0;
  font-size: 16px;
}
.desc{
  color: #999;
  font-size: 12px;
  line-height: 20px;
}
.history{
  margin-left: 20px;
  font-size: 12px;
}
.row{
  align-items: center;
  padding-top: 20px;
  border-bottom: 1px solid #f4f4f4;
}
.col{
  margin: 0 0 20px 0;
}
.firstImg{
  display: block;
  width: 80px;
  height: 80px;
}
.status{
  color: #999;
  font-size: 12px;
  text-align: center
}
.detail{
  font-size: 12px;
}

.function{
  margin: 0;
  font-size: 16px;
}

