.box {
    display: flex;
    height: 100px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
}

.symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: #fff;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    color: #c6cad6;
}

.count {
    margin-bottom: 2px;
    font-size: 36px;
}

.desc {
    font-size: 13px;
}